<style>
    .address-name {
        padding: 5px 10px;
        border-radius: 3px;
        background-color: #e1fafd;
        border: solid 0.5px #1aaaba;
    }

    .requested_amount .number-part {
        font-weight: 700;
    }

    .requested_amount .fraction-part {
        font-weight: 500;
    }
</style>
<div class="px-2 py-1 border-bottom">
    <EjsChipList Selection="Selection.Single" SelectedChips="1">
        <ChipListEvents OnClick="@OnClick"></ChipListEvents>
        <ChipCollection>
            <ChipListChip Text="ALL"></ChipListChip>
            <ChipListChip Text="LAST 24H"></ChipListChip>
            <ChipListChip Text="DUE TODAY"></ChipListChip>
            <ChipListChip Text="P-REP ONLY"></ChipListChip>
            <ChipListChip Text="10,000+ ICX"></ChipListChip>
            <ChipListChip Text="100,000+ ICX"></ChipListChip>
            <ChipListChip Text="500,000+ ICX"></ChipListChip>
        </ChipCollection>
    </EjsChipList>
</div>
<EjsGrid EnableHover="false"
         AllowPaging="Paging"
         EnableAltRow="false"
         AllowSorting="Sorting"
         AllowSelection="false"
         TValue="AddressResponse"
         GridLines="GridLine.Horizontal">
    <GridPageSettings PageSize="PageSize" PageSizes="PageSizes"></GridPageSettings>
    <EjsDataManager Url="/api/v1/address/list?state=unstaking&take=20" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="320" HeaderText="Address" Field="@nameof(AddressResponse.Hash)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        if (address.Name != null)
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 address-name font-weight-semibold">
                                    @address.Name
                                </span>
                            </a>
                        }
                        else
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 mono">@address.Hash</span>
                            </a>

                        }
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="170" HeaderText="Requested Amount" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(AddressResponse.Unstaking)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        if (address.Unstaking >= 500000)
                        {
                            <i class="fas mb-2 mr-1 special fa-whale"></i>
                        }
                        <span class="mono ls-n2 requested_amount">@address.Unstaking.ToIcxString()</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="170" HeaderText="Stake Remaining" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" HideAtMedia="(min-width: 480px)" Field="@nameof(AddressResponse.Staked)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        if (address.Staked == 0)
                        {
                            <span class="pl-1 text-light">-</span>
                        }
                        else
                        {
                            <span class="mono ls-n2">@address.Staked.ToIcxString()</span>
                            <span class="pl-1 text-light font-weight-light">ICX</span>
                        }

                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="200" HeaderText="Requested Date" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" HideAtMedia="(min-width: 480px)">
            <Template>
                @if (context is AddressResponse address)
                {
                    <span class="mono ls-n2">@address.RequestedBlockHeight.ToString("N0")</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Width="120" HeaderText="Unstaked In" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" HideAtMedia="(min-width: 480px)">
            <Template>
                <span class="text-light">6d 5h 18m</span>
            </Template>
        </GridColumn>
        <GridColumn Width="120" HeaderText="Block Height" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" HideAtMedia="(min-width: 480px)" Field="@nameof(AddressResponse.UnstakedBlockHeight)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        <span class="mono ls-n2">@address.UnstakedBlockHeight.ToString("N0")</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code
{
    private void OnClick(Syncfusion.EJ2.Blazor.Buttons.ClickEventArgs args)
    {
        StateHasChanged();
        Console.WriteLine(args.Text);
    }
}