@using ClickEventArgs = Syncfusion.EJ2.Blazor.Buttons.ClickEventArgs
@inject HttpContextAccessor HttpContext
<style media="(max-width: 769px)">
    #unstaking_grid td.e-rowcell:nth-child(1) { width: auto; }

    #unstaking_grid td.e-rowcell:nth-child(5) { width: 90px; }

    #unstaking_grid td.e-rowcell:nth-child(2) { width: 150px; }
</style>
<style>
    .address-name {
        padding: 3px 7px;
        border-radius: 3px;
        background-color: #e1fafd;
        border: solid 1px #1aaaba;
    }

    .requested_amount .number-part { font-weight: 700; }

    .requested_amount .fraction-part { font-weight: 500; }
</style>
<div class="px-2 py-1 border-bottom">
    <EjsChipList Selection="Selection.Single" SelectedChips="0">
        <ChipListEvents OnClick="@ChipListOnClick"></ChipListEvents>
        <ChipCollection>
            <ChipListChip Text="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ALL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" Value="all"></ChipListChip>
            <ChipListChip Text="P-REP ONLY" Value="prep_only"></ChipListChip>
            <ChipListChip Text="10,000+ ICX" Value="10000icx"></ChipListChip>
            <ChipListChip Text="100,000+ ICX" Value="100000icx"></ChipListChip>
            <ChipListChip Text="500,000+ ICX" Value="500000icx"></ChipListChip>
            <ChipListChip Text="1,000,000+ ICX" Value="1000000icx"></ChipListChip>
        </ChipCollection>
    </EjsChipList>
</div>
<EjsGrid @ref="EjsGrid"
          ID="unstaking_grid"
          EnableHover="false"
          AllowPaging="Paging"
          EnableAltRow="false"
          AllowSorting="Sorting"
          AllowSelection="false"
          TValue="UnstakingAddressResponse"
          GridLines="GridLine.Horizontal">
    <GridPageSettings PageSize="PageSize" PageSizes="PageSizes"></GridPageSettings>
    <EjsDataManager Url="/api/v1/address/unstaking" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn HeaderText="Address" Field="@nameof(UnstakingAddressResponse.Hash)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {
                        if (address.Name != null)
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 address-name font-weight-semibold">
                                    @address.Name
                                </span>
                            </a>
                        }
                        else
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 mono">@address.Hash</span>
                            </a>
                        }
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="145" HeaderText="Amount" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(UnstakingAddressResponse.Unstaking)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {
                        if (address.Unstaking >= 1000000)
                        {
                            <i class="fas mr-1 fs-n2 fa-whale special"></i>
                        }
                        if (address.Unstaking > 100000 && address.Unstaking < 1000000)
                        {
                            <i class="far mr-1 fs-n2 fa-fish special"></i>
                        }
                        <span class="mono ls-n2 requested_amount">@address.Unstaking.ToIcxString()</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="145" HeaderText="Balance" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" HideAtMedia="(min-width: 769px)" Field="@nameof(UnstakingAddressResponse.Staked)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {
                        if (address.Staked == 0)
                        {
                            <span class="pl-1 text-light">-</span>
                        }
                        else
                        {
                            <span class="mono ls-n2">@address.Staked.ToIcxString()</span>
                            <span class="pl-1 text-light font-weight-light">ICX</span>
                        }
                    }
                }
            </Template>
        </GridColumn>
        @if (IsMobileDevice)
        {
            <GridColumn Width="145" HeaderText="Requested" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right">
                <Template>
                    @if (context is UnstakingAddressResponse address)
                    {
                        <span class="text-condensed">@address.RequestedDateTimeAgeShort</span>
                        <span class="text-light text-condensed font-weight-light">ago</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn Width="145" HeaderText="Time Left" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" HideAtMedia="(min-width: 769px)">
                <Template>
                    @if (context is UnstakingAddressResponse address)
                    {
                        <span class="text-light text-condensed">@address.UnstakingCountdownShort</span>
                    }
                </Template>
            </GridColumn>
        }
        else
        {
            <GridColumn Width="170" HeaderText="Requested (UTC)" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right">
                <Template>
                    @if (context is UnstakingAddressResponse address)
                    {
                        <span class="text-condensed">@address.RequestedDateTime.ToString("d MMM, yyyy hh:mm tt")</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn Width="180" HeaderText="Time Left" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right">
                <Template>
                    @if (context is UnstakingAddressResponse address)
                    {
                        <span class="text-light text-condensed">@address.UnstakingCountdown</span>
                    }
                </Template>
            </GridColumn>
        }
        <GridColumn Width="125" HeaderText="Block #" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" HideAtMedia="(min-width: 769px)" Field="@nameof(UnstakingAddressResponse.UnstakedBlockHeight)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {
                        <span class="mono ls-n2 text-light">@address.UnstakedBlockHeight.ToString("N0")</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>

@code
{
    bool IsMobileDevice;

    EjsGrid<UnstakingAddressResponse> EjsGrid;

    private void ChipListOnClick(ClickEventArgs args)
    {
        EjsGrid.Query = new Query().AddParams("filter", ((dynamic) args.Data).value);
    }

    protected override void OnInitialized()
    {
        IsMobileDevice = HttpContext.Context.Request.Headers["User-Agent"].ToString().Contains("Mobile");
    }
}