<style>
    .address-name {
        padding: 5px 10px;
        border-radius: 3px;
        background-color: #e1fafd;
        border: solid 0.5px #1aaaba;
    }

    .unstaking_amount .number-part {
        font-weight: 700;
    }

    .unstaking_amount .fraction-part {
        font-weight: 500;
    }
</style>
<EjsGrid EnableHover="false"
         AllowSorting="true"
         EnableAltRow="false"
         AllowPaging="CanPage"
         AllowSelection="false"
         TValue="AddressResponse"
         GridLines="GridLine.Horizontal">
    <GridPageSettings PageSize="PageSize" PageSizes="PageSizes"></GridPageSettings>
    <GridSortSettings>
        <GridSortColumns>
            <GridSortColumn Field="Unstaking" Direction="SortDirection.Descending"></GridSortColumn>
        </GridSortColumns>
    </GridSortSettings>
    <EjsDataManager Url="/api/v1/address/list?state=unstaking&take=200" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="100" Field="@nameof(AddressResponse.Hash)" HeaderText="Address">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        if (address.Name != null)
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 address-name font-weight-semibold">
                                    @address.Name
                                </span>
                            </a>
                        }
                        else
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 mono">@address.Hash</span>
                            </a>

                        }
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="50" HeaderText="Amount" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(AddressResponse.Unstaking)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        <span class="mono ls-n2 unstaking_amount">@address.Unstaking.ToMarkupString()</span>
                        <span class="pl-1 text-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="50" HeaderText="Remaining" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(AddressResponse.Staked)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        <span class="mono ls-n2 staked_amount">@address.Staked.ToMarkupString()</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="50" HeaderText="Block #" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(AddressResponse.UnstakedBlockHeight)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        <span class="mono ls-n2">@address.UnstakedBlockHeight.ToString("N0")</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="50" HeaderText="Countdown" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right">
            <Template>
                <span class="text-light">6d 5h 18m</span>
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>