@page "/address/list"
@page "/address/list/{category}"
<style type="text/css">
    .e-grid {
        min-height: 760px;
    }
    
    .e-grid .e-rowcell,
    .e-grid .e-headercell {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .e-grid .e-rowcell:last-child,
    .e-grid .e-headercell:last-child {
        padding-left: 5px !important;
        padding-right: 20px !important;
    }

    .e-grid .e-rowcell:first-child,
    .e-grid .e-headercell:first-child {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }
</style>
<div class="mb-3 card d-none shadow-sm d-md-block border-bottom-0">
    <div class="row no-gutters text-nowrap">
        <div class="px-3 col-md d-inline-flex border-right border-bottom">
            <VotingTile ChainResponse="ChainResponse"></VotingTile>
        </div>
        <div class="px-3 col-lg d-inline-flex border-right border-bottom">
            <StakingTile ChainResponse="ChainResponse"></StakingTile>
        </div>
        <div class="px-3 col-lg d-inline-flex border-right border-bottom">
            <TreasuryTile ChainResponse="ChainResponse"></TreasuryTile>
        </div>
        <div class="px-3 col-lg d-inline-flex border-right border-bottom">
            <BlockTile ChainResponse="ChainResponse"></BlockTile>
        </div>
    </div>
</div>
<div class="mb-4 card shadow-sm" style="min-height: 943px;">
    <div class="row">
        <div class="col">
            <SfTab Animation="Animation" EnablePersistence="true">
                <TabEvents Selecting="Select"/>
                <TabItems>
                    <TabItem Header="Unstaking">
                        <ContentTemplate>
                            <div class="p-0 card-body">
                                <AddressListUnstakingGrid Paging="@Paging" Sorting="@Sorting" PageSize="@PageSize" PageSizes="@PageSizes"></AddressListUnstakingGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Header="Undelegated">
                        <ContentTemplate>
                            <div class="p-0 card-body">
                                <AddressListUndelegatedGrid Paging="@Paging" Sorting="@Sorting" PageSize="@PageSize" PageSizes="@PageSizes"></AddressListUndelegatedGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool Paging { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool Sorting { get; set; }

    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public object PageSizes { get; set; }

    protected TabHeader Unstaking;
    protected TabHeader Undelegated;
    protected PeerResponse PeerResponse;
    protected ChainResponse ChainResponse;
    protected TabAnimationSettings Animation;

    protected override bool ShouldRender()
    {
        return false;
    }

    public void Select(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }

    protected override void OnInitialized()
    {
        Paging = true;
        PageSize = 20;
        PeerResponse = LocalCache.LastPeerResponse;
        ChainResponse = LocalCache.LastChainResponse;
        PageSizes = new[] { 20, 50, 100, 500, 1000 };
        Unstaking = new TabHeader { Text = "UNSTAKING" };
        Undelegated = new TabHeader { Text = "UNDELEGATED" };
        Animation = new TabAnimationSettings
        {
            Next = new TabAnimationNext { Duration = 0 },
            Previous = new TabAnimationPrevious { Duration = 0 }
        };
    }

}
