@using ClickEventArgs = Syncfusion.EJ2.Blazor.Buttons.ClickEventArgs
<style>
    .address-name {
        padding: 5px 10px;
        border-radius: 3px;
        background-color: #e1fafd;
        border: solid 0.5px #1aaaba;
    }

    .requested_amount .number-part { font-weight: 700; }

    .requested_amount .fraction-part { font-weight: 500; }
</style>
<div class="px-2 py-1 border-bottom">
    <EjsChipList Selection="Selection.Single" SelectedChips="1">
        <ChipListEvents OnClick="@ChipListOnClick"></ChipListEvents>
        <ChipCollection>
            <ChipListChip Text="ALL" Value="everything"></ChipListChip>
            <ChipListChip Text="LAST 24H" Value="last_24h"></ChipListChip>
            <ChipListChip Text="DUE TODAY" Value="due_today"></ChipListChip>
            <ChipListChip Text="P-REP ONLY" Value="prep_only"></ChipListChip>
            <ChipListChip Text="10,000+ ICX" Value="10000icx"></ChipListChip>
            <ChipListChip Text="100,000+ ICX" Value="100000icx"></ChipListChip>
            <ChipListChip Text="500,000+ ICX" Value="500000icx"></ChipListChip>
        </ChipCollection>
    </EjsChipList>
</div>
<EjsGrid @ref="EjsGrid"
         EnableHover="false"
         AllowPaging="Paging"
         EnableAltRow="false"
         AllowSorting="Sorting"
         AllowSelection="false"
         TValue="UnstakingAddressResponse"
         GridLines="GridLine.Horizontal">
    <GridPageSettings PageSize="PageSize" PageSizes="PageSizes"></GridPageSettings>
    <EjsDataManager Url="/api/v1/address/list?state=unstaking" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="320" HeaderText="Address" Field="@nameof(UnstakingAddressResponse.Hash)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {
                        if (address.Name != null)
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 address-name font-weight-semibold">
                                    @address.Name
                                </span>
                            </a>
                        }
                        else
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 mono">@address.Hash</span>
                            </a>
                        }
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="170" HeaderText="Requested Amount" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(UnstakingAddressResponse.Unstaking)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {
                        if (address.Unstaking >= 1000000)
                        {
                            <i class="fas mr-1 fs-n2 fa-whale special"></i>
                        }
                        if (address.Unstaking > 100000 && address.Unstaking < 1000000)
                        {
                            <i class="far mr-1 fs-n2 fa-fish special"></i>
                        }
                        <span class="mono ls-n2 requested_amount">@address.Unstaking.ToIcxString()</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="170" HeaderText="Stake Remaining" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(UnstakingAddressResponse.Staked)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {
                        if (address.Staked == 0)
                        {
                            <span class="pl-1 text-light">-</span>
                        }
                        else
                        {
                            <span class="mono ls-n2">@address.Staked.ToIcxString()</span>
                            <span class="pl-1 text-light font-weight-light">ICX</span>
                        }
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="200" HeaderText="Requested Date" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right">
            <Template>
                @if (context is UnstakingAddressResponse address)
                {
                    <span class="mono ls-n2">@address.RequestedBlockHeight.ToString("N0")</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Width="120" HeaderText="Unstaked In" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right">
            <Template>
                <span class="text-light">6d 5h 18m</span>
            </Template>
        </GridColumn>
        <GridColumn Width="120" HeaderText="Block Height" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(UnstakingAddressResponse.UnstakedBlockHeight)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {
                        <span class="mono ls-n2">@address.UnstakedBlockHeight.ToString("N0")</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code
{
    EjsGrid<UnstakingAddressResponse> EjsGrid;

    private void ChipListOnClick(ClickEventArgs args)
    {
        EjsGrid.Query = new Query().AddParams("param", ((dynamic) args.Data).value);
    }
}