<style>
    .address-name {
        padding: 5px 10px;
        border-radius: 3px;
        background-color: #e1fafd;
        border: solid 0.5px #1aaaba;
    }
</style>
<EjsGrid EnableHover="false"
         EnableAltRow="false"
         AllowPaging="CanPage"
         TValue="AddressResponse"
         GridLines="GridLine.Horizontal">
    <GridPageSettings PageSize="PageSize" PageSizes="PageSizes"></GridPageSettings>
    <EjsDataManager Url="/api/v1/address/list?state=unstaking&take=200" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="100" Field="@nameof(AddressResponse.Hash)" HeaderText="Address">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        if (address.Name != null)
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 address-name font-weight-semibold">
                                    @address.Name
                                </span>
                            </a>
                        }
                        else
                        {
                            <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                                <span class="fs-n1 mono">@address.Hash</span>
                            </a>                            
                        }                        
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="50" HeaderText="Requested" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(AddressResponse.Unstaking)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        <span class="mono ls-n2 font-weight-bold">@address.Unstaking.ToString("N4")</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="50" HeaderText="Staked" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(AddressResponse.Staked)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        <span class="mono ls-n2 ">@address.Staked.ToString("N4")</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="50" HeaderText="Block #" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(AddressResponse.UnstakedBlockHeight)">
            <Template>
                @{
                    if (context is AddressResponse address)
                    {
                        <span class="mono ls-n2">@address.UnstakedBlockHeight.ToString("N0")</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="50" HeaderText="Countdown" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right">
            <Template>
                <span class="text-light">6d 5h 18m</span>
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>