<style>
    .online-status {
        color: #00a1b3;
    }

    .peer-state-sync {
        color: black;
        padding: 10px 0;
        border-radius: 4px;
        background-color: #ffc107;
    }

    .peer-state-idle {
        color: #969696;
        padding: 10px 0;
        border-radius: 4px;
        background-color: #f5f5f5;
    }

    .peer-state-busy {
        color: white;
        padding: 10px 0;
        font-weight: bold;
        border-radius: 4px;
        background-color: limegreen;
    }
</style>
<EjsGrid RowHeight="40"
         EnableHover="false"
         EnableAltRow="false"
         TValue="PeerResponse"
         AllowSelection="false"
         GridLines="GridLine.Horizontal"
         Query="@(new Query().AddParams("take", 22))">
    <EjsDataManager Url="/api/v1.0/peers" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="20">
            <Template>
                <i class="fad fs-n1 fa-dot-circle online-status" style="margin-top: 2px;"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="30">
            <Template>
                @{
                    if (context is PeerResponse peer)
                    {
                        <span class="mono font-weight-bold">@peer.Ranking</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="170">
            <Template>
                @{
                    if (context is PeerResponse peer)
                    {

                        var font_weight = peer.State == "BlockGenerate" ? "font-weight-bold" : null;
                        <div class="d-flex align-items-center" style="margin-top: 1px;">
                            <img width="18" height="18" style="margin-top: -1px; margin-right: 8px;" alt="@peer.Name" src="@peer.LogoUrl">
                            <a class="secondary @font_weight text-condensed peer-name peer-name-@peer.Id" href="address/@peer.Id">@peer.Name</a>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="65" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PeerResponse peer)
                    {
                        var state = "idle";
                        if (peer.State == "Vote") { state = "idle"; }
                        if (peer.State == "BlockSync") { state = "sync"; }
                        if (peer.State == "BlockGenerate") { state = "busy"; }
                        <div style="width: 45px;" class="fs-n3 ls-2 d-inline-flex peer-state peer-state-@state peer-state-@peer.Id justify-content-center">
                            <span style="margin-top: 1px; margin-left: 1px;">@state.ToUpper()</span>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="100" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PeerResponse peer)
                    {
                        <span class="mono ls-n2 peer-produced-blocks-@peer.Id" number="@peer.ProducedBlocks">@peer.ProducedBlocks.ToString("N0")</span>
                        <i class="fal ml-1 fs-n2 fa-cube positive-dark"></i>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="70" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PeerResponse peer)
                    {
                        <span class="mono ls-n2 text-light peer-missed-blocks-@peer.Id">@peer.MissedBlocks.ToString("N0")</span>
                        <i class="fal ml-1 fs-n2 fa-cube negative-dark"></i>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="55" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PeerResponse peer)
                    {
                        <span class="mono fs-n1 ls-n1 font-weight-semibold">@peer.ProductivityPercentage.ToString("P2")</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>