<EjsGrid RowHeight="40"
         EnableHover="false"
         EnableAltRow="false"
         TValue="PRepResponse"
         AllowSelection="false"
         GridLines="GridLine.Horizontal"
         ModelType="PRepResponse.ModelType"
         Query="new ej.data.Query().addParams('take', '13')">
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="15" Field="@nameof(PRepResponse.Direction)">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        if (prep.Direction)
                        {
                            <i class="fas fa-caret-up positive-light" style="opacity: 0.75"></i>
                        }
                        else
                        {
                            <i class="fas fa-caret-down negative-light" style="opacity: 0.75"></i>
                        }
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="30" Field="@nameof(PRepResponse.Ranking)" HeaderText="Position">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono">@prep.Ranking</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="225" Field="@nameof(PRepResponse.Name)" HeaderText="P-Rep">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <div class="d-flex align-items-center" style="margin-top: 1px;">
                            <img width="20" height="20" style="margin-right: 10px;" class="prep-@prep.Id rounded-circle" alt="prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibolder" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="45" Field="@nameof(PRepResponse.DelegatedPercentage)" HeaderText="Power" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono font-weight-bold">@prep.DelegatedPercentage.ToString("P2")</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="125" Field="@nameof(PRepResponse.Votes)" HeaderText="Votes" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono ls-n2 text-light" style="margin-right: 2px;">@prep.Votes.ToString("N0")</span>
                        <span class="pl-1 fs-n2 text-light font-weight-light">votes</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="65" Field="@nameof(PRepResponse.ProductivityPercentage)" HeaderText="% 24h Chg" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        if (prep.ProductivityPercentage > 0)
                        {
                            <span class="mono positive-dark">@prep.ProductivityPercentage.ToString("P")</span>
                        }
                        if (prep.ProductivityPercentage <= 0)
                        {
                            <span class="mono negative-dark">@prep.ProductivityPercentage.ToString("P")</span>
                        }
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>