<style>
    .transaction-hash {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #f5f5f5;
    }

    .transaction-address {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #e1fafd;
        
    }
</style>
<EjsGrid RowHeight="40"
         EnableHover="false"
         EnableAltRow="false"
         AllowSelection="false"
         TValue="TransactionResponse"
         GridLines="GridLine.Horizontal"
         ModelType="TransactionModelType"
         Query="new ej.data.Query().addParams('take', '13')">
    <EjsDataManager Url="/api/v1.0/transactions" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="94" Field="@nameof(TransactionResponse.Hash)">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <a class="secondary no-underline" href="transaction/@transaction.Hash">
                            <span class="fs-n1 mono transaction-hash">
                                <span class="font-weight-semibold">@transaction.Hash.Substring(0, 2)</span>@transaction.Hash.Substring(0, 10)
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="36" TextAlign="TextAlign.Center">
            <Template>
                @{
                    <span class="mt-1 fs-n1">from</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Width="96" Field="@nameof(TransactionResponse.From)">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <a class="primary no-underline" href="address/@transaction.From">
                            <span class="fs-n1 mono transaction-address">
                                <span class="font-weight-semibold">@transaction.From.Substring(0, 2)</span>@transaction.From.Substring(2, 10)
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="26" TextAlign="TextAlign.Center">
            <Template>
                @{
                      <span class="mt-1 fs-n1">to</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Width="96" Field="@nameof(TransactionResponse.To)">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <a class="primary no-underline" href="address/@transaction.To">
                            <span class="fs-n1 mono transaction-address">
                                <span class="font-weight-semibold">@transaction.To.Substring(0, 2)</span>@transaction.From.Substring(2, 10)
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="155" Field="@nameof(TransactionResponse.Amount)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <span class="mono ls-n2">@transaction.Amount.ToString("N0").</span>
                        <span class="mono ls-n2 tx-light font-weight-light">0000</span>
                        <span class="pl-1 tx-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    public TransactionResponse TransactionModelType = new TransactionResponse();
}