@implements IDisposable
<style>
    .transaction-hash {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #f5f5f5;
    }

    .transaction-address {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #e1fafd;
    }
</style>
<EjsGrid RowHeight="40"
         EnableHover="false"
         EnableAltRow="false"
         ID="transaction_grid"
         AllowSelection="false"
         @ref="TransactionGrid"
         TValue="TransactionResponse"
         GridLines="GridLine.Horizontal"
         ModelType="TransactionModelType"
         Query="new ej.data.Query().addParams('take', '13')">
    <EjsDataManager Url="/api/v1.0/transactions" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Batch"></GridEditSettings>
    <GridColumns>
        <GridColumn Width="95" Field="@nameof(TransactionResponse.From)">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <a class="primary no-underline" href="address/@transaction.From">
                            <span class="fs-n1 mono-lg transaction-address">
                                <span class="font-weight-semibold">@transaction.From.Substring(0, 10)..</span>
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="25" TextAlign="TextAlign.Center">
            <Template>
                @{
                    <span class="mt-1 fs-n1">to</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Width="95" Field="@nameof(TransactionResponse.To)" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <a class="primary no-underline" href="address/@transaction.To">
                            <span class="fs-n1 mono-lg transaction-address">
                                <span class="font-weight-semibold">@transaction.To.Substring(0, 10)..</span>
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="140" Field="@nameof(TransactionResponse.Hash)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <a class="secondary no-underline" href="transaction/@transaction.Hash">
                            <span class="fs-n1 mono-lg transaction-hash">
                                <span class="font-weight-semibold">@(transaction.Hash.Substring(0, 16))..</span>
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="150" Field="@nameof(TransactionResponse.Amount)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <span class="mono ls-n2">@transaction.Amount.ToString("N0")</span><span class="mono ls-n2 tx-light font-weight-light">.0000</span><span class="pl-1 tx-light font-weight-light">&nbsp;ICX</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    private IDisposable _subscription;

    public EjsGrid<TransactionResponse> TransactionGrid;

    public TransactionResponse TransactionModelType = new TransactionResponse();

    protected override void OnInitialized()
    {
        var connection = Source.Transactions.Connect();
        _subscription = connection.Subscribe(changes =>
        {
            if (TransactionGrid != null)
            {
                foreach (var change in changes)
                {
                    TransactionGrid.AddRecord(change.Current);
                }
            }
        });
    }

    public void Dispose()
    {
        _subscription.Dispose();
    }
}