<style>
    .peer-state-gone {
        color: white;
        padding: 10px 0;
        border-radius: 4px;
        background-color: #dc3545;
    }

    .peer-state-idle {
        color: #888888;
        padding: 10px 0;
        border-radius: 4px;
        background-color: #eeeeee;
    }

    .peer-state-busy {
        padding: 10px 0;
        border-radius: 4px;
        color: #212529 !important;
        background-color: #ffc107 !important;
    }
</style>
<EjsGrid RowHeight="40"
         EnableHover="false"
         EnableAltRow="false"
         TValue="PRepResponse"
         AllowSelection="false"
         GridLines="GridLine.Horizontal"
         Query="@(new Query().AddParams("take", 22))">
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="20">
            <Template>
                <i class="fad fs-n1 fa-cube positive-light" style="margin-top: 2px;"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="30" Field="@nameof(PRepResponse.Ranking)" HeaderText="Position">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono font-weight-bold">@prep.Ranking</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="170" HeaderText="P-Rep">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <div class="d-flex align-items-center" style="margin-top: 1px;">
                            <img width="20" height="20" style="margin-top: -1px; margin-right: 8px;" class="prep-114 rounded-circle" alt="@prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary text-condensed font-weight-semibold peer-name peer-name-@prep.Id" href="address/@prep.Id">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="65" HeaderText="Status" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <div style="width: 45px;" class="fs-n3 ls-2 d-inline-flex font-weight-bold peer-state peer-state-idle peer-state-@prep.Id justify-content-center">
                            <span style="margin-top: 1px; margin-left: 1px;">IDLE</span>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="100" Field="@nameof(PRepResponse.ProducedBlocks)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono ls-n2 prep-produced-blocks_@prep.Id">@prep.ProducedBlocks.ToString("N0")</span>
                        <i class="fal ml-1 fs-n2 fa-cubes positive-dark"></i>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="70" Field="@nameof(PRepResponse.MissedBlocks)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono ls-n2 text-light">@prep.MissedBlocks.ToString("N0")</span>
                        <i class="fal ml-1 fs-n2 fa-cubes negative-dark"></i>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="55" HeaderText="% 24h Chg" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono fs-n1 ls-n1 font-weight-semibold">@prep.ProductivityPercentage.ToString("P2")</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>