@page "/"
@layout MainLayout
@inject PRepService PRepService
@inject TransactionService TransactionService
<div class="row mb-3">
    <div class="col">
        <div class="card px-4 pt-3 pb-4 with-shadow with-gradient with-rounded-corners">
            <h4 style="color: white;"><strong>ICON Ecosystem Explorer</strong></h4>
            <div class="d-flex" style="background-color: white;">
                <div>
                    <EjsDropDownButton Items="@Items" CssClass="filter">ALL FILTERS</EjsDropDownButton>
                    @code {

                        public List<ItemModel> Items = new List<ItemModel>
                        {
                            new ItemModel{ Text = "P-REP" },
                            new ItemModel{ Text = "ADDRESS" },
                            new ItemModel{ Text = "TRANSACTIONS" }
                        };
                    }
                </div>
                <div class="flex-grow-1">
                    <EjsAutoComplete Placeholder="Search by P-Rep / Address / Transaction"></EjsAutoComplete>
                </div>
                <div>
                    <EjsButton CssClass="e-flat" IconCss="far fa-search">Search</EjsButton>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="card with-shadow" style="min-height: 100px;">
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="card with-shadow" style="min-height: 500px;">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <i class="far fa-user-clock"></i>&nbsp;&nbsp;P-REPS WATCHER
                    </div>
                    <div class="col text-right">
                        <a href="/prep">MORE</a>
                    </div>
                </div>
            </div>
            <div class="card-body px-4 pt-1 pb-2">
                <EjsGrid ModelType="@PRep" DataSource="@PReps" AllowSelection="false" EnableHover="false" GridLines="GridLine.Horizontal">
                    <GridColumns>
                        <GridColumn Width="30" TextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PRep prep)
                                    {
                                        <div class="avatar">
                                            <img alt="@prep.Name" class="with-rounded-circle" src="images/100.png" />
                                        </div>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="120" HeaderText="Name" Field=@nameof(PRep.Name)></GridColumn>
                        <GridColumn HeaderText="Location" Field=@nameof(PRep.Location)></GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card with-shadow" style="min-height: 500px;">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <i class="far fa-cube"></i>&nbsp;&nbsp;BLOCK WATCHER
                    </div>
                    <div class="col text-right">
                        <a href="/prep">MORE</a>
                    </div>
                </div>
            </div>
            <div class="card-body mono-font px-4 pt-1 pb-2">
                <EjsGrid DataSource="@Transactions" AllowSelection="false" EnableHover="false" GridLines="GridLine.Horizontal">

                </EjsGrid>
            </div>
        </div>
    </div>
</div>
@code{
    public PRep PRep = new PRep();
    public List<PRep> PReps { get; set; }
    public List<Transaction> Transactions { get; set; }

    protected override async Task OnInitAsync()
    {
        PReps = await PRepService.GetLatestPRepsAsync();
        Transactions = await TransactionService.GetLatestTransactionsAsync();
    }

}