@inject HttpContextAccessor HttpAccessor
<style>
    .block-hash {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #f1f1f1;
    }

    .block-height {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #e1fafd;
    }

    .number-part {font-weight: 500; }
</style>
<SfGrid RowHeight="40"
        ID="block_grid"
        EnableHover="false"
        EnableAltRow="false"
        TValue="BlockResponse"
        AllowSelection="false"
        GridLines="GridLine.Horizontal"
        Query="@(new Query().AddParams("take", 22))">
    <SfDataManager Url="/api/v1/blocks" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Width="@((IsMobile ? 90 : 81).ToString())" IsPrimaryKey="true" Field="@nameof(BlockResponse.Height)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="https://tracker.icon.foundation/block/@block.Height">
                            <span class="fs-n1 mono-lg block-height BlockResponse_BlockHeight">@block.Height.ToString("N0")</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Visible="@(!IsMobile)" Width="125" TextAlign="TextAlign.Center" Field="@nameof(BlockResponse.Hash)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="secondary no-underline" href="https://tracker.icon.foundation/block/@block.Height">
                            <span class="fs-n1 mono-lg block-hash">
                                <span class="font-weight-semibold BlockResponse_BlockHash">@(block.Hash.Substring(0, 12))..</span>
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="65" TextAlign="TextAlign.Right" Field="@nameof(BlockResponse.TransactionCount)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="https://tracker.icon.foundation/blocktx/@block.Height">
                            <span class="pr-1 mono BlockResponse_TransactionCount">@block.TransactionCount.ToString("0000")</span>
                            <span class="text-light">txns</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn TextAlign="TextAlign.Right" Field="@nameof(BlockResponse.TotalAmount)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="mono ls-n2 BlockResponse_TotalAmount">@block.TotalAmount.ToIcxString()</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="70" TextAlign="TextAlign.Right" Field="@nameof(BlockResponse.Timestamp)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="text-light BlockResponse_Timestamp">@(block.Timestamp.Ago().Replace("second", "sec").Replace("minute", "min"))</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code{
    protected bool IsMobile;

    protected override void OnInitialized()
    {
        IsMobile = HttpAccessor.Context.Request.Headers["User-Agent"].ToString().Contains("Mobile");
    }
}