@implements IDisposable
<style>
    .block-hash {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #f1f1f1;
    }

    .block-height {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #e1fafd;
    }
</style>
<EjsGrid RowHeight="40"
         ID="block_grid"
         @ref="BlockGrid"
         EnableHover="false"
         EnableAltRow="false"
         TValue="BlockResponse"
         AllowSelection="false"
         ModelType="BlockModelType"
         GridLines="GridLine.Horizontal">
    <GridEditSettings AllowAdding="true" AllowDeleting="true"></GridEditSettings>
    <EjsDataManager Url="/api/v1.0/blocks" Adaptor="Adaptors.WebApiAdaptor" Offline="true"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="81" Field="@nameof(BlockResponse.Height)" IsPrimaryKey="true">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="block/@block.Height">
                            <span class="fs-n1 mono-lg block-height">@block.Height.ToString("N0")</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="145" Field="@nameof(BlockResponse.Hash)" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="secondary no-underline" href="block/@block.Hash">
                            <span class="fs-n1 mono-lg block-hash">
                                <span class="font-weight-semibold">@(block.Hash.Substring(0, 16))..</span>
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="60" Field="@nameof(BlockResponse.Transactions)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="/">
                            <span class="pr-1 mono">@block.Transactions.ToString("000")</span><span class="tx-light">txns</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="130" Field="@nameof(BlockResponse.Amount)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="mono ls-n2">@block.Amount.ToString("N0")</span>
                        <span class="mono ls-n2 tx-light font-weight-light">.0000</span>
                        <span class="pl-1 tx-light font-weight-light">&nbsp;ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="88" Field="@nameof(BlockResponse.Timestamp)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="tx-light">@(block.Timestamp.Ago().Replace("second", "sec").Replace("minute", "min")) ago</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    private IDisposable _subscription;

    public EjsGrid<BlockResponse> BlockGrid;

    public BlockResponse BlockModelType = new BlockResponse();

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            var connection = Source.Blocks.Connect();
            _subscription = connection.Subscribe(changes =>
            {
                foreach (var change in changes)
                {
                    BlockGrid.AddRecord(change.Current);
                }
            });
        }
    }

    public void Dispose()
    {
        _subscription.Dispose();
    }
}