<EjsGrid RowHeight="40"
         EnableHover="false"
         EnableAltRow="false"
         TValue="PrepResponse"
         ModelType="PrepModelType"
         GridLines="GridLine.Horizontal"
         Query="new ej.data.Query().addParams('take', '13')">
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="14">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        if (prep.Direction)
                        {
                            <i class="fas fa-caret-up positive-light" style="opacity: 0.75"></i>
                        }
                        else
                        {
                            <i class="fas fa-caret-down negative-light" style="opacity: 0.75"></i>
                        }
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="38" HeaderText="Position" Field="@nameof(PrepResponse.Position)" TextAlign="TextAlign.Left">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono">@prep.Position</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="186" HeaderText="P-Rep Name">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <div class="d-flex align-items-center">
                            <img width="20" height="20" style="margin-right: 10px; margin-bottom: 1px;" class="prep-@prep.Id rounded-circle" alt="@prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibold" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="102" HeaderText="Votes" Field="@nameof(PrepResponse.Votes)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono ls-n2">@prep.Votes.ToString("N0")</span>
                        <span class="pl-1 tx-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="62" HeaderText="% Supply" Field="@nameof(PrepResponse.SupplyPercentage)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono tx-light">(@prep.SupplyPercentage.ToString("P"))</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="62" HeaderText="% 24h Chg" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        if (prep.UptimePercentage > 0)
                        {
                            <span class="mono positive-dark">@prep.UptimePercentage.ToString("P")</span>
                        }
                        if (prep.UptimePercentage <= 0)
                        {
                            <span class="mono negative-dark">@prep.UptimePercentage.ToString("P")</span>
                        }
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="42" Field="@nameof(PrepResponse.LastSeen)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <div style="padding-bottom: 4px;"><i class="far fs-n2 fa-wifi positive-light"></i></div>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    public PrepResponse PrepModelType = new PrepResponse();
}