<style>
    .online-status { color: #00a1b3; }
</style>
<EjsGrid Width="100%"
         RowHeight="40"
         EnableHover="false"
         EnableAltRow="false"
         TValue="PRepResponse"
         AllowSelection="false"
         ClipMode="ClipMode.Ellipsis"
         GridLines="GridLine.Horizontal"
         Query="@(new Query().AddParams("take", 22))">
    <EjsDataManager Url="/api/v1/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="20">
            <Template>
                <i class="fad fs-n1 fa-dot-circle online-status" style="margin-top: 2px;"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="30" Field="@nameof(PRepResponse.Ranking)">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono font-weight-bold">@prep.Ranking</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(PRepResponse.Name)">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <div class="d-flex align-items-center" style="margin-top: 1px;">
                            <img width="18" height="18" style="margin-top: -1px; margin-right: 8px;" src="@StringHelpers.ParseLogoUrl(prep.LogoUrl)">
                            <a class="secondary" href="address/@prep.Id">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="103" TextAlign="TextAlign.Right" Field="@nameof(PRepResponse.Votes)">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono ls-n2">@prep.Votes.ToString("N0")</span>
                        <span style="margin-left: 1px;" class="fs-n2 text-light font-weight-light">votes</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="60" TextAlign="TextAlign.Right">
            <Template>
                @{
                    var random = -0.05 + (0.05 - -0.05) * new Random().NextDouble();
                    if (context is PRepResponse prep)
                    {
                        <div style="padding-top: 1px; padding-left: 5px;" class="mono @(random > 0 ? "positive-dark" : "negative-dark")">
                            @((random * 100).ToString("+0.0;-0.0;0"))K
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="75" TextAlign="TextAlign.Right" HideAtMedia="(min-width: 480px)" Field="@nameof(PRepResponse.DelegatedPercentage)">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono text-light font-weight-semibold">@prep.DelegatedPercentage.ToString("P2")</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>