<style>
    .block-hash {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #f5f5f5;
    }

    .block-height {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #e1fafd;
    }
</style>
<EjsGrid RowHeight="40"
         @ref="@Instance"
         EnableHover="false"
         EnableAltRow="false"
         TValue="BlockResponse"
         AllowSelection="false"
         ModelType="BlockModelType"
         GridLines="GridLine.Horizontal"
         Query="new ej.data.Query().addParams('take', '13')">
    <EjsDataManager Url="/api/v1.0/blocks" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="79" Field="@nameof(BlockResponse.Height)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="block/@block.Height">
                            <span class="fs-n1 mono-lg block-height">@block.Height.ToString("N0")</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="101" Field="@nameof(BlockResponse.Hash)" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="secondary no-underline" href="block/@block.Hash">
                            <span class="fs-n1 mono-lg block-hash">
                                <span class="font-weight-bold" style="opacity: 0.85;">@block.Hash.Substring(0, 2)</span>@block.Hash.Substring(0, 10)
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="60" Field="@nameof(BlockResponse.Transactions)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="/">
                            <span class="pr-1 mono">@block.Transactions.ToString("N0")</span><span class="fs-n1 tx-light">txns</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="140" Field="@nameof(BlockResponse.Amount)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="mono ls-n2">@block.Amount.ToString("N0").</span><span class="pr-1 ls-n2 tx-light font-weight-light">0000</span>
                        <span class="tx-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="125" Field="@nameof(BlockResponse.ProduderName)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="secondary tx-condensed" href="address/@block.ProducerAddress">@block.ProduderName</a>
                    }
                }
            </Template>
        </GridColumn>      
    </GridColumns>
</EjsGrid>
@code {
    public EjsGrid<BlockResponse> Instance;

    public BlockResponse BlockModelType = new BlockResponse();
}