@page "/"
@using ItemModel = Syncfusion.EJ2.Blazor.SplitButtons.ItemModel
<style type="text/css">
    
    .main.card .e-grid { min-height: 520px; }

    .e-grid .e-gridheader { display: none; }

    .e-tab { background-color: white; }

    .main.card { height: 567px !important; }

    button.search-button:hover,
    button.search-filter:hover { color: #1aaaba !important; }

    .e-grid .e-rowcell {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .search-input .e-input-group::after,
    .search-input .e-input-group::before { background: none !important; }


    button.search-filter.e-active { background-color: white !important; }

    button.search-filter {
        color: #666666 !important;
        font-weight: bold !important;
        background-color: white !important;
        padding: 9px 10px 7px 10px !important;
    }

    .search-filter.e-dropdown-popup { color: #666666; }

    .search-filter.e-dropdown-popup .e-item {
        padding: 0 25px;
        font-size: 13px;
    }

    .search-filter.e-dropdown-popup .e-item:hover {
        color: #1aaaba;
        background: none;
    }

    button.search-button {
        color: #666666 !important;
        font-weight: bold !important;
        background-color: white !important;
        padding: 9px 12px 7px 8px !important;
    }


    input.e-input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input, textarea.e-input, .e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input { padding: 7px 5px 7px 5px !important; }

    .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap { border-color: transparent !important; }
</style>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 tx-light">PRICE&nbsp;&nbsp;&nbsp;&nbsp;% 24H</div>
                            <div><span class="fs-2 tx-dark mono-lg">$0.25</span>&nbsp;&nbsp;<span class="mono-lg positive-dark" style="opacity: 0.8;">+5.06%</span></div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 tx-light">MARKET CAP</div>
                            <div class="fs-2 tx-dark mono-lg">115,531,667</div>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 tx-light">ICX STAKED&nbsp;&nbsp;&nbsp;&nbsp;% SUPPLY</div>
                            <div><span class="fs-2 tx-dark mono-lg">97,618,152</span>&nbsp;&nbsp;<span class="mono-lg tx-light">12.02%</span></div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 tx-light">% 24H</div>
                            <span class="fs-2 mono-lg negative-dark" style="opacity: 0.75;">+2.78%</span>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-bottom border-right">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 tx-light">ICX CIRCULATION</div>
                            <div class="fs-2 tx-dark mono-lg">490,453,304</div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 tx-light">% 24H DEFL</div>
                            <span class="fs-2 mono-lg positive-dark" style="opacity: 0.75;">0.1578%</span>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 tx-light">TRANSACTIONS</div>
                            <div class="fs-2 tx-dark mono-lg"><AllTransactions /></div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 tx-light">BLOCK HEIGHT</div>
                            <div class="fs-2 tx-dark mono-lg"><BlockHeight /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="card px-4 pt-3 pb-4 rounded gradient shadow-sm border-0">
            <div class="row pb-1">
                <div class="col text-center" style="color: white;">
                    <h5 class="font-weight-bold">
                        ADVANCE&nbsp;&nbsp;ICON&nbsp;&nbsp;ECOSYSTEM
                    </h5>
                </div>
            </div>
            <div class="row no-gutters" style="height: 32px; border-radius: 3px; background-color: white;">
                <div class="col col-auto d-none d-sm-block">
                    <EjsDropDownButton Items="@Items" CssClass="search-filter">EVERYTHING</EjsDropDownButton>
                    @code {

                        public List<ItemModel> Items = new List<ItemModel>
                        {
                            new ItemModel { Text = "P-REP", IconCss = "fal fa-users-class" },
                            new ItemModel { Text = "ADDRESS", IconCss = "fal fa-hashtag" },
                            new ItemModel { Text = "TRANSACTION", IconCss = "fal fa-dice" }
                        };

                    }
                </div>
                <div class="col">
                    <EjsAutoComplete MinLength="3"
                                     TValue="string"
                                     Highlight="true"
                                     SuggestionCount="5"
                                     CssClass="search-input"
                                     ShowClearButton="false"
                                     Query="new ej.data.Query()"
                                     Placeholder="Search P-Rep / Address / Transaction">
                        <AutoCompleteFieldSettings Value="Name"></AutoCompleteFieldSettings>
                        <EjsDataManager Url="/api/v1.0/preps" Adaptor="@Adaptors.WebApiAdaptor"></EjsDataManager>
                    </EjsAutoComplete>
                </div>
                <div class="col col-auto">
                    <EjsButton CssClass="e-flat search-button" IconCss="far fa-search">SEARCH</EjsButton>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col px-1 p-3 text-center border-right border-bottom">
                        <div><span class="special font-weight-bold">PRE-VOTING</span>&nbsp;&nbsp;<span class="fs-n3 tx-light">AUGUST 26</span></div>
                        <div class="pt-1 tx-dark"><span class="tx-dark font-weight-semibolder">15</span> days <span class="tx-dark font-weight-semibold">4</span> hours <span class="tx-dark font-weight-semibold">2</span> minutes</div>
                    </div>
                    <div class="col px-1 p-3 text-center border-right border-bottom">
                        <div><span class="special font-weight-bold">P-REP ELECTION</span>&nbsp;&nbsp;<span class="fs-n3 tx-light">SEP 24</span></div>
                        <div class="pt-1 tx-dark"><span class="font-weight-semibolder">43</span> days <span class="tx-dark font-weight-semibold">4</span> hours <span class="tx-dark font-weight-semibold">2</span> minutes</div>
                    </div>
                    <div class="col px-1 p-3 text-center border-right border-bottom">
                        <div>
                            <a class="primary font-weight-bold" href="/">WHO SHOULD I VOTE?</a>
                        </div>
                        <div class="pt-1 tx-dark">for P-Reps who have contribution <span class="mono font-weight-bold">score</span></div>
                    </div>
                    <div class="col px-1 p-3 text-center border-bottom">
                        <div>
                            <a class="primary font-weight-bold" href="/">WHY SHOULD I CARE?</a>
                        </div>
                        <div class="pt-1 tx-dark">because your votes affect future <span class="mono font-weight-bold">price</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md mr-md-n3">
        <div class="main card mb-3 shadow-sm">
            <div class="card-header">
                <div class="row px-2 align-items-center">
                    <div class="col">
                        <i class="fal pr-2 fa-user-clock"></i>GOVERNANCE
                    </div>
                    <div class="col-auto text-right">
                        <NavLink class="primary" href="preps">MORE</NavLink>
                    </div>
                </div>
            </div>
            <div class="card-body px-4 pt-1 pb-0">
                <IndexPrepInformationGrid></IndexPrepInformationGrid>
            </div>
        </div>
    </div>
    <div class="col-md">
        @code {
            public TabAnimationSettings Animation { get; } = new TabAnimationSettings
            {
                Next = new TabAnimationNext { Duration = 0 },
                Previous = new TabAnimationPrevious { Duration = 0 }
            };

            public TabHeader Blocks = new TabHeader { Text = "BLOCKS", IconCss = "fal fa-cube" };

            public TabHeader Transactions = new TabHeader { Text = "TRANSACTIONS", IconCss = "fal fa-dice" };
        }
        <EjsTab Animation="@Animation" CssClass="main card mb-3 shadow-sm">
            <TabItems>
                <TabItem Header="@Blocks">
                    <ContentTemplate>
                        <div class="card-body px-4 pt-1 pb-0">
                            <IndexBlockGrid></IndexBlockGrid>
                        </div>
                    </ContentTemplate>
                </TabItem>
                <TabItem Header="@Transactions">
                    <ContentTemplate>
                        <div class="card-body px-4 pt-1 pb-0">
                            <IndexTransactionGrid></IndexTransactionGrid>
                        </div>
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </EjsTab>
    </div>
</div>