<style>
    .prep-state-bad {
        color: white;
        padding: 10px 0;
        border-radius: 4px;
        background-color: #dc3545;
    }

    .prep-state-idle {
        color: #888888;
        padding: 10px 0;
        border-radius: 4px;
        background-color: #eeeeee;
    }

    .prep-state-busy {
        color: #212529;
        padding: 10px 0;
        border-radius: 4px;
        background-color: #ffc107;
    }
</style>
<EjsGrid RowHeight="40"
         EnableHover="false"
         EnableAltRow="false"
         TValue="PRepResponse"
         AllowSelection="false"
         GridLines="GridLine.Horizontal"
         ModelType="PRepResponse.ModelType"
         Query="new ej.data.Query().addParams('take', '13')">
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="15">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        if (prep.Direction)
                        {
                            <i class="fas fa-caret-up positive-light" style="opacity: 0.75"></i>
                        }
                        else
                        {
                            <i class="fas fa-caret-bad negative-light" style="opacity: 0.75"></i>
                        }
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="30" Field="@nameof(PRepResponse.Ranking)" HeaderText="Position">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono">@prep.Ranking</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="190" HeaderText="P-Rep">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <div class="d-flex align-items-center" style="margin-top: 1px;">
                            <img width="20" height="20" style="margin-right: 10px;" class="prep-@prep.Id rounded-circle" alt="prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibolder" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="65" HeaderText="Status" TextAlign="TextAlign.Left">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        var name = "idle";
                        if (prep.Ranking == 3) { name = "bad"; }
                        if (prep.Ranking == 6) { name = "busy"; }
                        <div style="width: 45px;" class="fs-n3 ls-2 d-inline-flex font-weight-bold prep-state-@name justify-content-center">
                            <span style="margin-top: 1px; margin-left: 1px;">@name.ToUpper()</span>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="75" Field="@nameof(PRepResponse.ProducedBlocks)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono ls-n2 text-light">@prep.ProducedBlocks.ToString("N0")</span>
                        <i class="far ml-1 fs-n2 fa-cube positive-dark" style="opacity: 0.75;"></i>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="65" Field="@nameof(PRepResponse.MissedBlocks)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono ls-n2 text-light">@prep.MissedBlocks.ToString("N0")</span>
                        <i class="far ml-1 fs-n2 fa-cube negative-dark" style="opacity: 0.75;"></i>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="65" HeaderText="% 24h Chg" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono fs-n1 ls-n1 font-weight-semibold">@prep.ProductivityPercentage.ToString("P2")</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>