<style>
    .number-part {
        font-weight: 500;
    }

    .block-hash {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #f1f1f1;
    }

    .block-height {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #e1fafd;
    }
</style>
<EjsGrid RowHeight="40"
         ID="block_grid"
         EnableHover="false"
         EnableAltRow="false"
         TValue="BlockResponse"
         AllowSelection="false"
         GridLines="GridLine.Horizontal"
         Query="@(new Query().AddParams("take", 22))">
    <EjsDataManager Url="/api/v1/blocks" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Width="81" Field="@nameof(BlockResponse.Height)" IsPrimaryKey="true">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="block/@block.Height">
                            <span class="fs-n1 mono-lg block-height BlockResponse_BlockHeight">@block.Height.ToString("N0")</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="145" Field="@nameof(BlockResponse.Hash)" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="secondary no-underline" href="block/@block.Hash">
                            <span class="fs-n1 mono-lg block-hash">
                                <span class="font-weight-semibold BlockResponse_BlockHash">@(block.Hash.Substring(0, 16))..</span>
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="65" Field="@nameof(BlockResponse.TransactionCount)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="/">
                            <span class="pr-1 mono BlockResponse_TransactionCount">@block.TransactionCount.ToString("0000")</span>
                            <span class="text-light">txns</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="145" Field="@nameof(BlockResponse.TotalAmount)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="mono ls-n2 BlockResponse_TotalAmount">@block.TotalAmount.ToIcxString()</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="70" Field="@nameof(BlockResponse.Timestamp)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="text-light BlockResponse_Timestamp">@(block.Timestamp.Ago().Replace("second", "sec").Replace("minute", "min"))</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>