<style>
    .block-hash {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #f5f5f5;
    }

    .block-height {
        padding: 5px 8px;
        border-radius: 3px;
        background-color: #e1fafd;
    }
</style>
<EjsGrid @ref="Grid"
         RowHeight="40"         
         EnableHover="false"
         EnableAltRow="false"
         TValue="BlockResponse"
         AllowSelection="false"
         ModelType="@BlockModelType"
         GridLines="@GridLine.Horizontal"
         Query="new ej.data.Query().addParams('take', '13')">
    <EjsDataManager @ref="DataManager" Url="/api/v1.0/blocks" Adaptor="@Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="81" Field="@nameof(BlockResponse.Height)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="block/@block.Height">
                            <span class="fs-n1 mono-lg block-height">@block.Height.ToString("N0")</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="101" Field="@nameof(BlockResponse.Hash)" TextAlign="@TextAlign.Center">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="secondary no-underline" href="block/@block.Hash">
                            <span class="fs-n1 mono block-hash">
                                <span class="font-weight-semibold">@block.Hash.Substring(0, 2)</span>@block.Hash.Substring(0, 10)
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="60" Field="@nameof(BlockResponse.Transactions)" TextAlign="@TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="/">
                            <span class="pr-1 mono">@block.Transactions.ToString("N0")</span><span class="tx-light">txns</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="140" Field="@nameof(BlockResponse.Amount)" TextAlign="@TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="mono ls-n2">@block.Amount.ToString("N0").</span>
                        <span class="mono ls-n2 tx-light font-weight-light">0000</span>
                        <span class="pl-1 tx-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="123" Field="@nameof(BlockResponse.ProduderName)" TextAlign="@TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="secondary tx-condensed" href="address/@block.ProducerAddress">@block.ProduderName</a>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    public EjsDataManager DataManager;

    public EjsGrid<BlockResponse> Grid;

    public BlockResponse BlockModelType = new BlockResponse();

    protected override void OnInitialized()
    {
        var connection = Source.Blockchain.Connect();
        connection.Subscribe(x =>
        {
            if (DataManager != null)
            {
                Console.WriteLine(DataManager == null);
            }
        });
    }
}