<style>
    .block-hash {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #f1f1f1;
    }

    .block-height {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #e1fafd;
    }

    .number-part { font-weight: 500; }
</style>
<style media="(max-width: 769px)">
    #block_grid td.e-rowcell:nth-child(1) { width: 85px; }

    #block_grid td.e-rowcell:nth-child(3) { width: 65px; }

    #block_grid td.e-rowcell:nth-child(4) { width: auto; }

    #block_grid td.e-rowcell:nth-child(5) { width: 70px; }
</style>
<EjsGrid RowHeight="40"
         ID="block_grid"
         EnableHover="false"
         EnableAltRow="false"
         TValue="BlockResponse"
         AllowSelection="false"
         GridLines="GridLine.Horizontal"
         Query="@(new Query().AddParams("take", 22))">
    <EjsDataManager Url="/api/v1/blocks" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Width="81" IsPrimaryKey="true" Field="@nameof(BlockResponse.Height)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="https://tracker.icon.foundation/block/@block.Height">
                            <span class="fs-n1 mono-lg block-height BlockResponse_BlockHeight">@block.Height.ToString("N0")</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="125" TextAlign="TextAlign.Center" HideAtMedia="(min-width: 769px)" Field="@nameof(BlockResponse.Hash)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="secondary no-underline" href="https://tracker.icon.foundation/block/@block.Height">
                            <span class="fs-n1 mono-lg block-hash">
                                <span class="font-weight-semibold BlockResponse_BlockHash">@(block.Hash.Substring(0, 12))..</span>
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="65" TextAlign="TextAlign.Right" Field="@nameof(BlockResponse.TransactionCount)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="https://tracker.icon.foundation/blocktx/@block.Height">
                            <span class="pr-1 mono BlockResponse_TransactionCount">@block.TransactionCount.ToString("0000")</span>
                            <span class="text-light">txns</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn TextAlign="TextAlign.Right" Field="@nameof(BlockResponse.TotalAmount)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="mono ls-n2 BlockResponse_TotalAmount">@block.TotalAmount.ToIcxString()</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="70" TextAlign="TextAlign.Right" Field="@nameof(BlockResponse.Timestamp)">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="text-light BlockResponse_Timestamp">@(block.Timestamp.Ago().Replace("second", "sec").Replace("minute", "min"))</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>