@page "/"
@layout MainLayout
<style type="text/css">
    .e-grid { min-height: 480px; }
    
    .e-grid .e-rowcell {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .e-grid .e-gridheader { display: none; }

    .search-input {
        background-color: white !important;
    }
    
    .search-button {
        background-color: white !important;
    }
</style>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col p-3 text-center border-right border-bottom">
                        <div><span class="txt-1 ascent font-weight-bold">PRE-VOTING</span>&nbsp;&nbsp;<span class="txt-0 secondary">AUGUST 26</span></div>
                        <div class="primary"><span class="font-weight-semibold">15</span> days <span class="font-weight-semibold">4</span> hours <span class="font-weight-semibold">2</span> minutes</div>
                    </div>
                    <div class="col p-3 text-center border-right border-bottom">
                        <div><span class="txt-1 ascent font-weight-bold">ICONSENSUS</span>&nbsp;&nbsp;<span class="txt-0 secondary">SEPTEMBER 24</span></div>
                        <div class="primary"><span class="font-weight-semibold">43</span> days <span class="font-weight-semibold">4</span> hours <span class="font-weight-semibold">2</span> minutes</div>
                    </div>
                    <div class="col p-3 text-center border-right border-bottom">
                        <div><span class="txt-1 ascent font-weight-bold">WHO CAN I VOTE?</span></div>
                        <div class="primary">vote for any P-Rep with reasonable <span class="mono num-0 special font-weight-bold">score</span></div>
                    </div>
                    <div class="col p-3 text-center border-bottom">
                        <div><span class="txt-1 ascent font-weight-bold">WHY SHOULD I CARE?</span></div>
                        <div class="primary">because your <span class="font-weight-semibold">votes</span> affect future <span class="mono num-0 special font-weight-bold">price</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="card px-4 pt-3 pb-4 rounded gradient shadow-sm border-0">
            <div class="row pb-1">
                <div class="col text-center" style="color: white;">
                    <h4>
                        ICONLOOK
                    </h4>
                </div>
            </div>
            <div class="row no-gutters" style="background-color: white;">
                <div class="col col-auto">
                    <EjsDropDownButton Items="@Items" CssClass="filter">ALL FILTERS</EjsDropDownButton>
                    @code {

                        public List<ItemModel> Items = new List<ItemModel>
                        {
                            new ItemModel { Text = "P-REP" },
                            new ItemModel { Text = "ADDRESS" },
                            new ItemModel { Text = "TRANSACTION" }
                        };

                    }
                </div>
                <div class="col">
                    <EjsTextBox CssClass="search-input" Placeholder="Search by P-Rep / Address / Transaction"></EjsTextBox>
                </div>
                <div class="col col-auto">
                    <EjsButton CssClass="e-flat search-button" IconCss="far fa-search">Search</EjsButton>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="p-3 mr-auto">
                            <InfoBox Icon="fa-coins" Title="MARKET CAP" Value="$132,134,325"></InfoBox>
                        </div>
                        <div class="p-3 text-right">
                            <InfoBox Icon="fa-usd-circle" Title="SPOT PRICE" Value="$0.2538"></InfoBox>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="p-3 mr-auto">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-users-class secondary"></i>VOTERS</div>
                            <div class="num-1 mono-lg primary">32,250</div>
                        </div>
                        <div class="p-3 text-right">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-person-sign secondary"></i>ICX STAKED</div>
                            <div class="num-1 mono-lg primary">132,250,456</div>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="p-3 mr-auto">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-cube secondary"></i>BLOCK HEIGHT</div>
                            <div class="primary mono-lg num-1-condensed">8,749,250</div>
                        </div>
                        <div class="p-3 text-right">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-exchange-alt secondary"></i>TRANSACTIONS</div>
                            <div class="primary mono-lg num-1-condensed">38,749,250</div>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-bottom">
                        <div class="p-3 mr-auto">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-box-open secondary"></i>ALL SUPPLY</div>
                            <div class="primary mono-lg num-1-condensed">800,000,000</div>
                        </div>
                        <div class="p-3 text-right">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-parachute-box secondary"></i>CIRCULATING</div>
                            <div class="primary mono-lg num-1-condensed">490,000,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md mb-3 mr-sm-n2">
        <div class="card shadow-sm" style="min-height: 535px;">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <i class="fal pr-2 fa-user-clock"></i>P-REP WATCHER
                    </div>
                    <div class="col-auto pr-4 text-right">
                        <a href="/prep-watcher">MORE</a>
                    </div>
                </div>
            </div>
            <div class="card-body px-4 pt-1 pb-2">
                @code  {
                    public PrepResponse PrepModelType = new PrepResponse();
                }
                <EjsGrid TValue="PrepResponse" ModelType="PrepModelType" RowHeight="40" EnableHover="false" AllowSelection="false" GridLines="GridLine.Horizontal">
                    <EjsDataManager Url="/api/v1.0/preps?take=12" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
                    <GridColumns>
                        <GridColumn Width="14">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        if (prep.Direction)
                                        {
                                            <i class="fas fa-caret-up" style="color: limegreen;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-caret-down" style="color: red;"></i>
                                        }
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="32" HeaderText="Position" Field="@nameof(PrepResponse.Position)" TextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="mono">@prep.Position</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="36" TextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <img width="20" height="20" class="prep-@prep.Id rounded-circle" alt="@prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="125" HeaderText="Name">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="condensed font-weight-semibold">@prep.Name</span>
                                    }

                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="90" HeaderText="Votes" Field="@nameof(PrepResponse.Votes)" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="mono">@prep.Votes.ToString("N0")</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="90" HeaderText="% Supply" Field="@nameof(PrepResponse.SupplyPercentage)" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="mono">@prep.SupplyPercentage.ToString("P2")</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="90" HeaderText="% Uptime" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        if (prep.UptimePercentage > 0.5)
                                        {
                                            <span class="mono" style="color: mediumseagreen;">@prep.UptimePercentage.ToString("P")</span>
                                        }
                                        if (prep.UptimePercentage <= 0.5)
                                        {
                                            <span class="mono" style="color: darkred;">@prep.UptimePercentage.ToString("P")</span>
                                        }
                                    }
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
        </div>
    </div>
    <div class="col-md mb-3 ml-sm-n2">
        <div class="card shadow-sm" style="min-height: 535px;">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <i class="fal pr-2 fa-cube"></i>BLOCK WATCHER
                    </div>
                    <div class="col pr-4 text-right">
                        <a href="/">MORE</a>
                    </div>
                </div>
            </div>
            <div class="card-body px-4 pt-1 pb-2">
                @code  {
                    public BlockResponse BlockModelType = new BlockResponse();
                }
                <EjsGrid TValue="BlockResponse" ModelType="BlockModelType" RowHeight="40" AllowSelection="false" EnableHover="false" GridLines="GridLine.Horizontal">
                    <EjsDataManager Url="/api/v1.0/blocks?take=12" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
                </EjsGrid>
            </div>
        </div>
    </div>
</div>