<style>
    .number-part {
        font-weight: 500;
    }

    .transaction-hash {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #f5f5f5;
    }

    .transaction-address {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #e1fafd;
    }
</style>
<EjsGrid RowHeight="40"
         EnableHover="false"
         EnableAltRow="false"
         ID="transaction_grid"
         AllowSelection="false"
         TValue="TransactionResponse"
         GridLines="GridLine.Horizontal"
         Query="@(new Query().AddParams("take", 22))">
    <EjsDataManager Url="/api/v1/transactions" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Width="95" Field="@nameof(TransactionResponse.From)">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <a class="primary no-underline" href="https://tracker.icon.foundation/address/@transaction.From">
                            <span class="fs-n1 mono-lg transaction-address font-weight-semibold TransactionResponse_From">@transaction.From?.Substring(0, 10)..</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="25" TextAlign="TextAlign.Center">
            <Template>
                @{
                    <span class="mt-1 fs-n1">to</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Width="95" TextAlign="TextAlign.Center" Field="@nameof(TransactionResponse.To)">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <a class="primary no-underline" href="https://tracker.icon.foundation/address/@transaction.To">
                            <span class="fs-n1 mono-lg transaction-address font-weight-semibold TransactionResponse_To">@transaction.To?.Substring(0, 10)..</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="140" TextAlign="TextAlign.Right" Field="@nameof(TransactionResponse.Hash)">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <a class="secondary no-underline" href="https://tracker.icon.foundation/transaction/@transaction.Hash">
                            <span class="fs-n1 mono-lg transaction-hash font-weight-semibold TransactionResponse_Hash">@(transaction.Hash?.Substring(0, 16))..</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="150" TextAlign="TextAlign.Right" Field="@nameof(TransactionResponse.Amount)">
            <Template>
                @{
                    if (context is TransactionResponse transaction)
                    {
                        <span class="mono ls-n2 TransactionResponse_Amount">@transaction.Amount.ToMarkupString()</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>