<style>
    .block-hash {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #f1f1f1;
    }

    .block-height {
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #e1fafd;
    }
</style>
<EjsGrid RowHeight="40"
         ID="block_grid"
         @ref="BlockGrid"
         EnableHover="false"
         EnableAltRow="false"
         TValue="BlockResponse"
         AllowSelection="false"
         GridLines="GridLine.Horizontal"
         ModelType="BlockResponse.ModelType"
         Query="new ej.data.Query().addParams('take', '13')">
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <EjsDataManager Url="/api/v1.0/blocks" Adaptor="Adaptors.WebApiAdaptor" Offline="true"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="81" Field="@nameof(BlockResponse.Height)" IsPrimaryKey="true">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="block/@block.Height">
                            <span class="fs-n1 mono-lg block-height BlockResponse_BlockHeight">@block.Height.ToString("N0")</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="145" Field="@nameof(BlockResponse.Hash)" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="secondary no-underline" href="block/@block.Hash">
                            <span class="fs-n1 mono-lg block-hash">
                                <span class="font-weight-semibold BlockResponse_BlockHash">@(block.Hash.Substring(0, 16))..</span>
                            </span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="60" Field="@nameof(BlockResponse.TransactionCount)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <a class="primary no-underline" href="/">
                            <span class="pr-1 mono BlockResponse_TransactionCount">@block.TransactionCount.ToString("000")</span><span class="text-light">txns</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="130" Field="@nameof(BlockResponse.TotalAmount)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="mono ls-n2 BlockResponse_TotalAmount">@block.TotalAmount.ToString("N0")</span>
                        <span class="mono ml-n1 ls-n2 text-light font-weight-light">.0000</span>
                        <span class="pl-1 text-light font-weight-light">&nbsp;ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="88" Field="@nameof(BlockResponse.Timestamp)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is BlockResponse block)
                    {
                        <span class="text-light">@(block.Timestamp.Ago().Replace("second", "sec").Replace("minute", "min")) ago</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>