@page "/megaloop"
@page "/dapp/megaloop"
<style type="text/css">
    .header a {
        color: white;
    }

    .header a:hover {
        color: white;
    }

    .e-grid .e-rowcell,
    .e-grid .e-headercell {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .e-grid .e-rowcell:last-child,
    .e-grid .e-headercell:last-child {
        padding-left: 5px !important;
        padding-right: 20px !important;
    }

    .e-grid .e-rowcell:first-child,
    .e-grid .e-headercell:first-child {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }
    
    .e-tab .e-tab-header .e-indicator {
        background: none !important;
    }

    .e-tab .e-tab-header .e-active .e-tab-text {
        color: #e3165b !important;
    }

    .logotext {
        font-family: Montserrat Subrayada;
        text-shadow: 1px 1px 1px rgb(9, 49, 42);
    }

    app_ {
        -ms-background-repeat: repeat-x;
        background-repeat: repeat-x;
        -ms-background-attachment: fixed;
        background-attachment: fixed;
        background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0,93,133,1.0) 0, rgba(0,181,149,1.0) 90% );
    }

    .tab-current {
        -ms-background-repeat: repeat-x;
        background-repeat: repeat-x;
        -ms-background-attachment: fixed;
        background-attachment: fixed;
        background-color: #FF9A8B;
        background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(253,239,132,1) 0%, rgba(247,198,169,1) 54.2%, rgba(21,186,196,1) 100.3% );
    }

    .header {
        color: white;
        border: none;
        -ms-background-repeat: repeat-x;
        background-repeat: repeat-x;
        -ms-background-attachment: fixed;
        background-attachment: fixed;
        background-image: radial-gradient(circle farthest-corner at 10% 20%,rgba(0,141,149,1.0) 0, rgba(0,181,149,1.0) 90% );
        <!-- background-image: radial-gradient( circle farthest-corner at 47.4% 55%, rgba(218,61,61,1) 0, rgba(170,13,71,0.81) 90% ); -->
    }
</style>
<div class="row mb-3">
    <div class="col">
        <div class="px-5 py-4 card header rounded shadow-sm">
            <div class="row">
                <div class="col-4">
                    <div class="d-inline-flex">
                        <h1 class="logotext font-weight-bold">MEGALO<span style="margin-left: -5px;">OP</span></h1>
                    </div>
                    <div>
                        <span class="fs-n1 font-weight-bold">16,720 ICX</span>&nbsp;
                        <span class="fs-n1 opacity-75 font-weight-light">$ 4,265.45</span>
                        <span class="fs-n2 opacity-75">&nbsp;•&nbsp;&nbsp;LAST WINNER</span>
                        <a class="mono fs-n1" href="/">hx863e16bd18ceaa7d498b4b275e36cd58818b1f25</a>
                    </div>
                </div>
                <div class="col-2 text-right">
                    <div class="mb-2 fs-n2 font-weight-semibold">PARTICIPATION</div>
                    <h2 class="mono pt-1 font-weight-bold">
                        @(MegaloopResponse?.PlayerCount.ToString("N0") ?? "0")
                    </h2>
                    <div class="opacity-50 font-weight-semibold">players</div>
                </div>
                <div class="col-3 text-right">
                    <div class="mb-2 fs-n2 font-weight-semibold"><i class="fal pr-1 fa-stopwatch"></i> TIME TO DRAW</div>
                    <h2 class="pt-1 font-weight-bold ChainResponse_NextTermCountdown">
                        @(ChainResponse?.NextTermCountdown ?? "0h 0m 0s")
                    </h2>
                    <div class="opacity-50 font-weight-semibold">remaining</div>
                </div>
                <div class="col-3 text-right">
                    <div class="mb-2 fs-n2 font-weight-semibold">JACKPOT SIZE</div>
                    <div class="mt-1 d-inline-flex">
                        <h2 class="mono font-weight-bold MegaloopResponse_JackpotSize" number="@(MegaloopResponse?.JackpotSize ?? 0)">
                            @(MegaloopResponse?.JackpotSize.ToString("N4") ?? "0.0000")
                        </h2>&nbsp;&nbsp;
                        <h2 class="font-weight-light">
                            ICX
                        </h2>
                    </div>
                    <div class="mono opacity-50 font-weight-semibold">$4,576.02 <span class="fs-n1">USD</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg d-none mr-lg-n4 d-md-block">
        <div class="px-1 p-3 card rounded shadow-sm">
            <div class="d-inline-flex">
                <div class="ml-2 mr-4">
                    <i class="fad fa-info special opacity-75" style="font-size: 41px;"></i>
                </div>
                <div>
                    <div class="d-flex">
                        <a class="primary font-weight-bold" href="/">HOW DOES IT WORK?</a>
                    </div>
                    <div class="pt-1"><span class="mono font-weight-bold">One</span> lucky player will take the pot every 24 hours</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg d-none mr-lg-n4 d-md-block">
        <div class="px-1 p-3 card rounded shadow-sm">
            <div class="d-inline-flex">
                <div class="ml-2 mr-3">
                    <i class="fad fa-qrcode special opacity-75" style="font-size: 41px;"></i>
                </div>
                <div>
                    <div class="d-flex">
                        <a class="primary font-weight-bold" href="/">HOW DO I PLAY?</a>
                    </div>
                    <div class="pt-1">Send ICX to this <span class="mono underline font-weight-bold">address</span> from your wallet</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg d-none d-md-block">
        <div class="px-1 p-3 card rounded shadow-sm">
            <div class="d-inline-flex">
                <div class="ml-2 mr-3">
                    <i class="fad special opacity-75 fa-badge-dollar" style="font-size: 41px;"></i>
                </div>
                <div>
                    <div class="d-flex">
                        <a class="primary font-weight-bold" href="/">WHAT IF I WON?</a>
                    </div>
                    <div class="pt-1"><span class="mono font-weight-bold">@(MegaloopResponse?.JackpotSize.ToString("N4") ?? "0.0000")</span> ICX will be sent to your wallet after</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col mr-sm-n3">
        <div class="card shadow-sm" style="min-height: 540px;">
            <SfTab Animation="Animation">
                <TabEvents Selecting="Select" />
                <TabItems>
                    <TabItem Header="Current">
                        <ContentTemplate>
                            <div class="p-0 card-body">
                                <div class="tab-current" style="min-height: 499px;">

                                </div>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Header="History">
                        <ContentTemplate>
                            <div class="p-0 card-body">
                                <MegaloopHistoryGrid></MegaloopHistoryGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm" style="min-height: 540px;">
            <SfTab Animation="Animation">
                <TabEvents Selecting="Select" />
                <TabItems>
                    <TabItem Header="Players">
                        <ContentTemplate>
                            <div class="p-0 card-body">
                                <MegaloopPlayersGrid></MegaloopPlayersGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Header="Subsidy">
                        <ContentTemplate>
                            <div class="p-0 card-body">
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool Paging { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool Sorting { get; set; }

    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public object PageSizes { get; set; }

    protected TabHeader Current;
    protected TabHeader History;
    protected TabHeader Players;
    protected TabHeader Subsidy;
    protected ChainResponse ChainResponse;
    protected TabAnimationSettings Animation;
    protected MegaloopResponse MegaloopResponse;

    public void Select(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }

    protected override void OnInitialized()
    {
        Paging = true;
        PageSize = 20;
        PageSizes = new[] { 20, 50, 100, 500, 1000 };
        Current = new TabHeader { Text = "CURRENT" };
        History = new TabHeader { Text = "HISTORY" };
        Players = new TabHeader { Text = "PLAYERS" };
        Subsidy = new TabHeader { Text = "SUBSIDY" };
        ChainResponse = LocalCache.LastChainResponse;
        MegaloopResponse = LocalCache.LastMegaloopResponse;
        Animation = new TabAnimationSettings
        {
            Next = new TabAnimationNext { Duration = 0 },
            Previous = new TabAnimationPrevious { Duration = 0 }
        };
    }

}