@inject HttpContextAccessor HttpAccessor
<style>
    .address-name {
        padding: 3px 7px;
        border-radius: 3px;
        background-color: #e1fafd;
        border: solid 1px #1aaaba;
    }

    .staked_amount .number-part {
        font-weight: 600;
    }

    .staked_amount .fraction-part {
        font-weight: 400;
    }

    .unstaking_amount .number-part {
        font-weight: 700;
    }

    .unstaking_amount .fraction-part {
        font-weight: 500;
    }
</style>
<SfGrid @ref="SfGrid"
         ID="players_grid"
         EnableHover="false"
         EnableAltRow="false"
         AllowSelection="false"
         GridLines="GridLine.Horizontal"
         TValue="MegaloopPlayerResponse"
         DataSource="MegaloopResponse.Players.OrderByDescending(x => x.Block).Take(14)">
    <GridColumns>
        <GridColumn HeaderText="Address" Field="@nameof(MegaloopPlayerResponse.Address)">
            <Template>
                @{
                    if (context is MegaloopPlayerResponse player)
                    {
                        <a class="primary no-underline" href="https://bicon.tracker.solidwallet.io/address/@player.Address">
                            <span class="fs-n1 mono">@player.Address</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="100" HeaderText="Deposit" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(MegaloopPlayerResponse.Deposit)">
            <Template>
                @{
                    if (context is MegaloopPlayerResponse player)
                    {
                        <span class="mono ls-n2 unstaking_amount">@player.Deposit.ToIcxString()</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="80" HeaderText="Chance" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(MegaloopPlayerResponse.Chance)">
            <Template>
                @if (context is MegaloopPlayerResponse player)
                {
                    <span class="mono font-weight-bold">@player.Chance.ToString("P2")</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Width="90" HeaderText="Joined" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(MegaloopPlayerResponse.Chance)">
            <Template>
                @if (context is MegaloopPlayerResponse player)
                {
                    <span class="text-light font-weight-light">5m ago</span>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code
{
    protected bool IsMobile;

    protected MegaloopResponse MegaloopResponse;

    protected SfGrid<MegaloopPlayerResponse> SfGrid;

    protected override void OnInitialized()
    {
        MegaloopResponse = LocalCache.LastMegaloopResponse;
        IsMobile = HttpAccessor.Context.Request.Headers["User-Agent"].ToString().Contains("Mobile");
    }
}