@page "/megaloop"
@layout DAppLayout
<style type="text/css">
    .header a {
        color: white;
    }

    .header a:hover {
        color: white;
    }

    .e-grid .e-rowcell,
    .e-grid .e-headercell {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .e-grid .e-rowcell:last-child,
    .e-grid .e-headercell:last-child {
        padding-left: 5px !important;
        padding-right: 20px !important;
    }

    .e-grid .e-rowcell:first-child,
    .e-grid .e-headercell:first-child {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }

    .e-tab .e-tab-header .e-indicator {
        background: none !important;
    }

    .e-tab .e-tab-header .e-active .e-tab-text {
        color: #e3165b !important;
    }

    .hero-text {
        text-shadow: 1px 1px 1px rgb(9, 49, 42);
    }

    .logo-text {
        font-family: Montserrat Subrayada;
        text-shadow: 1px 1px 1px rgb(9, 49, 42);
    }

    
    .hero-pill {
        border-radius: 12px;
        padding: 3px 12px 3px 12px;
        background-color: rgba(0, 141, 149, 1.0);
    }

    .header {
        color: white;
        border: none;
        -ms-background-repeat: repeat-x;
        background-repeat: repeat-x;
        -ms-background-attachment: fixed;
        background-attachment: fixed;
        background-image: radial-gradient(circle farthest-corner at 10% 20%,rgba(0,141,149,1.0) 0, rgba(0,181,149,1.0) 90%);
    }
    
    .tab-current {
        -ms-background-repeat: repeat-x;
        background-repeat: repeat-x;
        -ms-background-attachment: fixed;
        background-attachment: fixed;
        background-color: #FF9A8B;
        background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253,239,132,1) 0%, rgba(247,198,169,1) 54.2%, rgba(21,186,196,1) 100.3%);
    }
</style>
<div class="row mb-3">
    <div class="col">
        <div class="px-5 py-4 card header shadow rounded">
            <div class="row">
                <div class="col-5">
                    <div class="mb-1 d-inline-flex">
                        <h1 class="logo-text font-weight-bold">MEGALO<span style="margin-left: -5px;">OP</span></h1>
                    </div>
                    <div>
                        @{
                            var jackpot = MegaloopResponse?.LastWinner?.Jackpot.ToString("N4") ?? "0.0000";
                            var jackpot_usd = MegaloopResponse?.LastWinner?.JackpotUsd.ToString("N2") ?? "0.00";
                            var address = MegaloopResponse?.LastWinner?.Address ?? "hx0000000000000000000000000000000000000000";
                            <span class="fs-n1 font-weight-bold">@jackpot ICX</span>
                            <span class="fs-n1 opacity-50 font-weight-light">$@jackpot_usd USD</span>
                            <span class="fs-n2 opacity-50">&nbsp;•&nbsp;&nbsp;LAST WINNER</span>
                            <a class="mono fs-n1" href="https://bicon.tracker.solidwallet.io/address/@address">@address</a>
                        }
                    </div>
                </div>
                <div class="col-2 text-center">
                    <div class="mb-2 fs-n2 font-weight-semibold">READY TO WIN</div>
                    <h2 class="mono pt-1 hero-text font-weight-bold">
                        @(MegaloopResponse?.PlayerCount.ToString("N0") ?? "0")
                    </h2>
                    <div class="fs-n1 hero-pill shadow-sm d-inline-block justify-content-center">
                        players
                    </div>
                </div>
                <div class="col-2 text-center">
                    <div class="mb-2 fs-n2 font-weight-semibold"><i class="fad pr-1 fs-2 fa-stopwatch"></i> DRAW COUNTDOWN</div>
                    <h2 class="pt-1 ls-n2 hero-text font-weight-bold ChainResponse_NextTermCountdown">
                        @(ChainResponse?.NextTermCountdown ?? "0h 0m 0s")
                    </h2>
                    <div class="fs-n1 hero-pill shadow-sm d-inline-block justify-content-center">remaining</div>
                </div>
                <div class="col-3 text-right">
                    <div class="mb-2 fs-n2 font-weight-semibold"><i class="fad pr-1 fs-2 fa-award"></i> JACKPOT VALUE</div>
                    <div class="mt-1 d-inline-flex">
                        <h2 class="mono hero-text font-weight-bold MegaloopResponse_JackpotSize" number="@(MegaloopResponse?.JackpotSize ?? 0)">
                            @(MegaloopResponse?.JackpotSize.ToString("N4") ?? "0.0000")
                        </h2>&nbsp;&nbsp;
                        <h4 class="font-weight-light" style="margin-top: 6px;">
                            ICX
                        </h4>
                    </div>
                    <div>
                        <div class="mono fs-n1 hero-pill shadow-sm d-inline-block justify-content-center">
                            <span class="fs-n1">$</span>
                            <span class="MegaloopResponse_JackpotSizeUsd" number="@(MegaloopResponse?.JackpotSizeUsd ?? 0)">
                                @(MegaloopResponse?.JackpotSizeUsd.ToString("N2") ?? "0.00")
                            </span>
                            <span class="fs-n1">USD</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg d-none mr-lg-n4 d-md-block">
        <div class="px-1 p-3 card shadow rounded">
            <div class="d-inline-flex">
                <div class="ml-2 mr-4">
                    <i class="fad text-light fa-question" style="font-size: 40px;"></i>
                </div>
                <div>
                    <div class="d-flex">
                        <a class="primary font-weight-bold" href="/">HOW DOES IT WORK?</a>
                    </div>
                    <div class="pt-1"><span class="mono font-weight-bold">One</span> winner will steal the pot every 24 hours</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg d-none mr-lg-n4 d-md-block">
        <div class="px-1 p-3 card shadow rounded">
            <div class="d-inline-flex">
                <div class="ml-2 mr-3">
                    <i class="fad fa-qrcode text-light" style="font-size: 40px; "></i>
                </div>
                <div>
                    <div class="d-flex">
                        <a class="primary font-weight-bold" href="/">HOW DO I PLAY?</a>
                    </div>
                    <div class="pt-1">Send ICX to this <span class="mono underline font-weight-bold">address</span> from your wallet</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg d-none d-md-block">
        <div class="px-1 p-3 card shadow rounded">
            <div class="d-inline-flex">
                <div class="ml-2 mr-3">
                    <i class="fad text-light fa-badge-dollar" style="font-size: 40px;"></i>
                </div>
                <div>
                    <div class="d-flex">
                        <a class="primary font-weight-bold" href="/">WHAT IF I WON?</a>
                    </div>
                    <div class="pt-1"><span class="mono font-weight-bold MegaloopResponse_JackpotSize" number="@(MegaloopResponse?.JackpotSize ?? 0)">
                        @(MegaloopResponse?.JackpotSize.ToString("N4") ?? "0.0000")
                    </span> ICX will be sent back to your wallet</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col mr-sm-n3">
        <div class="card shadow" style="min-height: 617px;">
            <SfTab Animation="Animation">
                <TabEvents Selecting="Select" />
                <TabItems>
                    <TabItem Header="Winners">
                        <ContentTemplate>
                            <div class="p-0 card-body">
                                <MegaloopWinnersGrid></MegaloopWinnersGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </div>
    </div>
    <div class="col">
        <div class="card shadow" style="min-height: 617px;">
            <SfTab Animation="Animation">
                <TabEvents Selecting="Select" />
                <TabItems>
                    <TabItem Header="Players">
                        <ContentTemplate>
                            <div class="p-0 card-body">
                                <MegaloopPlayersGrid></MegaloopPlayersGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool Paging { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool Sorting { get; set; }

    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public object PageSizes { get; set; }

    protected TabHeader Winners;
    protected TabHeader Players;
    protected ChainResponse ChainResponse;
    protected TabAnimationSettings Animation;
    protected MegaloopResponse MegaloopResponse;

    public void Select(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }

    protected override void OnInitialized()
    {
        Paging = true;
        PageSize = 20;
        PageSizes = new[] { 20, 50, 100, 500, 1000 };
        Winners = new TabHeader { Text = "WINNERS" };
        Players = new TabHeader { Text = "PLAYERS" };
        ChainResponse = LocalCache.LastChainResponse;
        MegaloopResponse = LocalCache.LastMegaloopResponse;
        Animation = new TabAnimationSettings
        {
            Next = new TabAnimationNext { Duration = 0 },
            Previous = new TabAnimationPrevious { Duration = 0 }
        };
    }

}