@page "/prep-watcher"
@layout MainLayout
@inject PrepService Service
<style>
    .e-grid {
        min-height: 600px;
    }
    .e-grid .e-rowcell:last-child,
    .e-grid .e-headercell:last-child {
        padding-left: 5px !important;
        padding-right: 20px !important;
    }
    .e-grid .e-rowcell, .e-grid .e-headercell {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .e-grid .e-rowcell:first-child, .e-grid .e-headercell:first-child {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }
</style>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="p-3 mr-auto">
                            <InfoBox Icon="fa-coins" Title="MARKET CAP" Value="$132,134,325"></InfoBox>
                        </div>
                        <div class="p-3 text-right">
                            <InfoBox Icon="fa-usd-circle" Title="SPOT PRICE" Value="$0.2538"></InfoBox>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="p-3 mr-auto">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-users-class secondary"></i>VOTERS</div>
                            <div class="num-1 mono primary">32,250</div>
                        </div>
                        <div class="p-3 text-right">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-person-sign secondary"></i>ICX STAKED</div>
                            <div class="num-1 mono primary">132,250,456</div>
                        </div>
                    </div>
                    <div class="col p-3 text-center border-right border-bottom">
                        <div><strong class="txt-1 ascent">WHO CAN I VOTE?</strong></div>
                        <div class="primary">vote for any P-Rep with reasonable <span class="mono special border-bottom">c_score</span></div>
                    </div>
                    <div class="col p-3 text-center border-bottom">
                        <div><strong class="txt-1 ascent">WHY SHOULD I CARE?</strong></div>
                        <div class="primary">because your <strong>votes</strong> affect future <span class="mono special border-bottom">price</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <i class="fal pr-2 fa-user-clock"></i>P-REP WATCHER
                    </div>
                    <div class="col text-right">
                        <a href="/preps-watcher">CONTRIBUTION MATRIX</a>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <EjsGrid TValue="PrepResponse" AllowSorting="true" AllowSelection="false" GridLines="GridLine.Horizontal">
                    <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.ODataV4Adaptor"></EjsDataManager>
                    <GridColumns>
                        <GridColumn Width="30" HeaderText="⇵" TextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        if (prep.Direction)
                                        {
                                            <i class="fas fa-caret-up" style="color: limegreen;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-caret-down" style="color: red;"></i>
                                        }
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="45" Field="@nameof(PrepResponse.Position)" TextAlign="TextAlign.Center" HeaderText="#"></GridColumn>
                        <GridColumn Width="35" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                                                <img width="20" height="20" class="rounded-circle" alt="@prep.Name" src="/images/preps/(@prep.Id).png" />
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@nameof(PrepResponse.Name)" HeaderText="Name"></GridColumn>
                        <GridColumn Width="90" HeaderText="% Uptime" TextAlign="TextAlign.Right" Field="@nameof(PrepResponse.UptimePercentage)">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        if (prep.UptimePercentage > 0.5)
                                        {
                                            <span style="color: mediumseagreen;">@prep.UptimePercentage.ToString("P0")</span>
                                        }
                                        if (prep.UptimePercentage <= 0.5)
                                        {
                                            <span style="color: darkred;">@prep.UptimePercentage.ToString("P0")</span>
                                        }
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="110" Field="@nameof(PrepResponse.Votes)" HeaderText="ICX Staked" Format="N0" TextAlign="TextAlign.Right"></GridColumn>
                        <GridColumn Width="100" Field="@nameof(PrepResponse.SupplyPercentage)" HeaderText="% Supply" Format="P2" TextAlign="TextAlign.Right" AllowSorting="true"></GridColumn>
                        <GridColumn Width="100" Field="@nameof(PrepResponse.Voters)" HeaderText="Voters" TextAlign="TextAlign.Right" Format="N0"></GridColumn>
                        <GridColumn Width="100" Field="@nameof(PrepResponse.LastSeen)" HeaderText="Last Seen" TextAlign="TextAlign.Right"></GridColumn>
                        <GridColumn Width="150" Field="@nameof(PrepResponse.Location)" HeaderText="Location" TextAlign="TextAlign.Right"></GridColumn>
                        <GridColumn Width="100" Field="@nameof(PrepResponse.CScore)" HeaderText="c_score" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <div class="special d-inline-block rounded-pill text-center" style="width: 48px; padding-top: 3px; padding-bottom: 4px; background-color:#e3165b;"><strong style="color:white;">@prep.CScore.ToString("N0")</strong></div>
                                    }

                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
        </div>
    </div>
</div>