@code {
    [Parameter]
    public string EditKey { get; set; }

    public bool CanEdit => !string.IsNullOrWhiteSpace(EditKey);
}
<style>
    .fal.fa-star {
        opacity: 0.75;
        color: #ffe100;
        margin-right: 4px;
    }

    .fas.fa-star, .fas.fa-star-half-alt {
        color: #ffe100;
        margin-right: 4px;
    }

    .e-chip-list.e-chip, .e-chip-list .e-chip {
        font-weight: 500;
        margin: 0 2px !important;
        font-size: 12px !important;
        font-family: 'IBM Plex Mono' !important;
    }
</style>
<EjsGrid TValue="PrepResponse" ModelType="PrepModelType" EnableAltRow="true" EnableHover="false" AllowSelection="@CanEdit" GridLines="GridLine.Horizontal">
    <GridEditSettings AllowEditing="@CanEdit" Mode="EditMode.Dialog"></GridEditSettings>
    <EjsDataManager Url="@($"/api/v1.0/preps?take=100&edit={EditKey}")" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="220" Field="@nameof(PrepResponse.Name)" HeaderText="P-Rep Name" IsPrimaryKey="true">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <div class="mt-1 d-flex align-items-center">
                            <img width="20" height="20" style="margin-right: 10px; margin-bottom: 1px;" class="prep-@prep.Id rounded-circle" alt="@prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibold" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
            <EditTemplate />
        </GridColumn>
        <GridColumn Width="148" HeaderText="Node Resiliency" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="148" HeaderText="App Development" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="148" HeaderText="Content Creation" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="148" HeaderText="Community Active" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="148" HeaderText="Ecosystem Focus" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="148" HeaderText="TX Fee Generated" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code{
    public PrepResponse PrepModelType = new PrepResponse();
}
