@code {
    [Parameter]
    public string EditKey { get; set; }

    public bool CanEdit => !string.IsNullOrWhiteSpace(EditKey);
}
<EjsGrid        
    EnableHover="false"
    EnableAltRow="true"
    TValue="PrepResponse"
    AllowSelection="@CanEdit"
    ModelType="PrepModelType"
    GridLines="GridLine.Horizontal"
    Query="@("new ej.data.Query()" +
             ".addParams('take', '22')" + 
             $".addParams('edit', '{EditKey}')")">
    <GridEditSettings AllowEditing="@CanEdit" Mode="EditMode.Dialog"></GridEditSettings>
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="220" Field="@nameof(PrepResponse.Name)" HeaderText="P-Rep Name" IsPrimaryKey="true">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <div class="mt-1 d-flex align-items-center">
                            <img width="20" height="20" style="margin-right: 10px; margin-bottom: 1px;" class="prep-@prep.Id rounded-circle" alt="@prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibold" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
            <EditTemplate />
        </GridColumn>
        <GridColumn Width="150" Field="@nameof(PrepResponse.Location)" HeaderText="Location" TextAlign="TextAlign.Left">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span>@prep.Location</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="100" Field="@nameof(PrepResponse.Location)" HeaderText="Expertise" TextAlign="TextAlign.Left">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span>Development</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="80" Field="@nameof(PrepResponse.Location)" HeaderText="Team Size" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span>3</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="100" Field="@nameof(PrepResponse.Location)" HeaderText="Testnet Since" TextAlign="TextAlign.Left">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span>102 days</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="100" Field="@nameof(PrepResponse.Location)" HeaderText="Website" TextAlign="TextAlign.Left">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <a class="primary" href="https://www.iconviet.io">iconviet.io</a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="80" Field="@nameof(PrepResponse.Location)" HeaderText="Twitter" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <a href="https://twitter.com"><img width="22" height="22" src="/static/images/twitter.png" /></a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="80" Field="@nameof(PrepResponse.Location)" HeaderText="Telegram" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <a href="https://t.me/iconviet"><img width="22" height="22" src="/static/images/telegram.png" /></a>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code{
    public PrepResponse PrepModelType = new PrepResponse();
}
