@code {
    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool CanPage { get; set; }

    [Parameter]
    public string EditKey { get; set; }

    [Parameter]
    public object PageSizes { get; set; }

    public bool CanEdit => !string.IsNullOrWhiteSpace(EditKey);
}
<EjsGrid EnableHover="false"
         EnableAltRow="true"
         TValue="PRepResponse"
         AllowPaging="CanPage"
         AllowSelection="CanEdit"
         ModelType="PRepModelType"
         GridLines="GridLine.Horizontal"
         Query="@($"new ej.data.Query().addParams('edit', '{EditKey}')")">
    <GridPageSettings PageSize="PageSize" PageSizes="PageSizes"></GridPageSettings>
    <GridEditSettings AllowEditing="CanEdit" Mode="EditMode.Dialog"></GridEditSettings>
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="220" Field="@nameof(PRepResponse.Name)" HeaderText="P-Rep" IsPrimaryKey="true">
            <HeaderTemplate>
                <span class="tx-condensed"><i class='far pl-1 pr-2 fal fa-users'></i>&nbsp;P-Rep</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <div class="d-flex align-items-center" style="margin-top: -1px;">
                            <img width="20" height="20" style="margin-right: 10px;" class="prep-@prep.IdExternal rounded-circle" alt="prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibolder" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="135" Field="@nameof(PRepResponse.Location)" HeaderText="Location">
            <HeaderTemplate>
                <span>Location<i class='far pl-2 fa-map-marker-alt'></i></span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="pt-1 tx-condensed">@prep.Location</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="105" Field="@nameof(PRepResponse.Location)" HeaderText="Joined">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="tx-condensed">@prep.Joined.ToString("dd MMM, yyyy")</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="92" Field="@nameof(PRepResponse.Location)" HeaderText="Entity">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span>@prep.Entity</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="75" Field="@nameof(PRepResponse.Location)" HeaderText="Size">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="font-weight-bold">3</span>
                        <span class="pl-1 fs-n1 tx-light">people</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="95" Field="@nameof(PRepResponse.Location)" HeaderText="Identity">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span>@prep.Identity</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="126" Field="@nameof(PRepResponse.Location)" HeaderText="Experience">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="tx-condensed">Dev, Biz, Marketing</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="80" Field="@nameof(PRepResponse.Location)" HeaderText="Website" TextAlign="TextAlign.Right">
            <HeaderTemplate>
                <span><i class='far pr-2 fa-globe'></i>Website</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <a class="primary tx-condensed" href="https://www.iconviet.io">iconviet.io</a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="80" Field="@nameof(PRepResponse.Location)" HeaderText="Twitter" TextAlign="TextAlign.Right">
            <HeaderTemplate>
                <span><i class='fab pr-2 fa-twitter'></i>Twitter</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <a class="primary tx-condensed" href="https://twitter.com/iconviet">iconviet</a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="100" Field="@nameof(PRepResponse.Location)" HeaderText="Telegram" TextAlign="TextAlign.Right">
            <HeaderTemplate>
                <span><i class='fab pr-2 fa-telegram'></i>Telegram</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <a class="primary tx-condensed" href="https://t.me/iconviet">iconviet</a>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    public PRepResponse PRepModelType = new PRepResponse();
}
