@code {
    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool CanPage { get; set; }

    [Parameter]
    public string EditKey { get; set; }

    [Parameter]
    public object PageSizes { get; set; }

    public bool CanEdit => !string.IsNullOrWhiteSpace(EditKey);
}
<EjsGrid EnableHover="false"
         EnableAltRow="true"
         TValue="PrepResponse"
         AllowPaging="@CanPage"
         AllowSelection="@CanEdit"
         ModelType="@PrepModelType"
         GridLines="@GridLine.Horizontal"
         Query="@($"new ej.data.Query().addParams('edit', '{EditKey}')")">
    <GridPageSettings PageSize="@PageSize" PageSizes="@PageSizes"></GridPageSettings>
    <GridEditSettings AllowEditing="@CanEdit" Mode="@EditMode.Dialog"></GridEditSettings>
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="@Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="213" Field="@nameof(PrepResponse.Name)" HeaderText="P-Rep Name" IsPrimaryKey="true">
            <HeaderTemplate>
                <span class="tx-condensed"><i class='far pl-1 pr-2 fal fa-users'></i>&nbsp;P-Rep Name</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <div class="mt-1 d-flex align-items-center">
                            <img width="20" height="20" style="margin-right: 10px; margin-bottom: 1px;" class="prep-@prep.IdExternal rounded-circle" alt="@prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibolder" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="110" Field="@nameof(PrepResponse.UptimePercentage)" HeaderText="Uptime" TextAlign="@TextAlign.Center">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono positive-light font-weight-light">100%</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="110" Field="@nameof(PrepResponse.Location)">
            <HeaderTemplate>
                <span>Hosting</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span>@prep.Hosting</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="110" Field="@nameof(PrepResponse.Location)">
            <HeaderTemplate>
                <span>Regions<i class="far pl-2 fa-map-marker-alt"></i></span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="tx-condensed">@prep.Regions</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(PrepResponse.Location)" HeaderText="Testnet Participation">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span>@(prep.Testnet ? "Yes" : "No")</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    public PrepResponse PrepModelType = new PrepResponse();
}
