@page "/prep/list"
@page "/prep/list/{size:int}"
@page "/prep/list/edit/{key}"
<style type="text/css">
    .card .e-grid .e-content {
        min-height: 924px;
    }

    .e-grid .e-rowcell,
    .e-grid .e-headercell {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .e-grid .e-rowcell:last-child,
    .e-grid .e-headercell:last-child {
        padding-left: 5px !important;
        padding-right: 20px !important;
    }

    .e-grid .e-rowcell:first-child,
    .e-grid .e-headercell:first-child {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }

    .e-grid .e-row .e-selectionbackground {
        background-color: #ffe100;
    }

    .e-grid .e-row {
        height: 42px;
        cursor: @(Key == null ? "initial;" : "pointer;");
        background-color: @(Key == null ? "initial;" : "rgb(255, 255, 227);");
    }
</style>
<div class="mb-3 card d-none shadow-sm d-md-block border-bottom-0">
    <div class="row no-gutters text-nowrap">
        <div class="px-3 col-md d-inline-flex border-right border-bottom">
            <VotingTile ChainResponse="ChainResponse"></VotingTile>
        </div>
        <div class="px-3 col-lg d-inline-flex border-right border-bottom">
            <StakingTile ChainResponse="ChainResponse"></StakingTile>
        </div>
        <div class="px-3 col-lg d-inline-flex border-right border-bottom">
            <TreasuryTile ChainResponse="ChainResponse"></TreasuryTile>
        </div>
        <div class="px-3 col-lg d-inline-flex border-right border-bottom">
            <LeaderTile PeerResponse="PeerResponse"></LeaderTile>
        </div>
    </div>
</div>
<div class="mb-5 card shadow-sm" style="min-height: 1107px;">
    <div class="row">
        <div class="col">
            <SfTab Animation="Animation">
                <TabEvents Selecting="Select"/>
                <TabItems>
                    <TabItem Header="Summary">
                        <ContentTemplate>
                            <div class="p-0 card-body" style="min-height: 700px;">
                                <PRepListSummaryGrid EditKey="@Key" CanPage="@Page" PageSize="@Size" PageSizes="@Sizes"></PRepListSummaryGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
            <div class="hide font-weight-bold position-absolute" style="top: 12px; right: 34px;">
                <a class="primary">FILTER</a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Size { get; set; }

    public bool Page { get; set; }

    [Parameter]
    public string Key { get; set; }

    public object Sizes { get; set; }

    protected TabHeader Summary;
    protected TabHeader Background;
    protected TabHeader Capability;
    protected TabHeader ScoreMatrix;
    protected TabHeader Contribution;
    protected TabHeader Transparency;
    protected PeerResponse PeerResponse;
    protected ChainResponse ChainResponse;
    protected TabAnimationSettings Animation;

    public void Select(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }

    protected override void OnInitialized()
    {
        Size = 100;
        Page = true;
        Sizes = new[] { 22, 50, 100, 500 };
        PeerResponse = LocalCache.LastPeerResponse;
        ChainResponse = LocalCache.LastChainResponse;
        Summary = new TabHeader { Text = "SUMMARY" };
        Background = new TabHeader { Text = "BACKGROUND" };
        Capability = new TabHeader { Text = "CAPABILITY" };
        ScoreMatrix = new TabHeader { Text = "SCORE MATRIX" };
        Contribution = new TabHeader { Text = "CONTRIBUTION" };
        Transparency = new TabHeader { Text = "TRANSPARENCY" };
        Animation = new TabAnimationSettings
        {
            Next = new TabAnimationNext { Duration = 0 },
            Previous = new TabAnimationPrevious { Duration = 0 }
        };
    }

}