@page "/prep-watcher"
@layout MainLayout
<style type="text/css">
    .e-grid { min-height: 680px; }

    .e-grid .e-row { height: 42px; }

    .e-grid .e-rowcell:last-child,
    .e-grid .e-headercell:last-child {
        padding-left: 5px !important;
        padding-right: 20px !important;
    }

    .e-grid .e-rowcell, .e-grid .e-headercell {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .e-grid .e-rowcell:first-child, .e-grid .e-headercell:first-child {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }
</style>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col pt-1 d-inline-flex border-right border-bottom align-items-center">
                        <div class="p-3 mr-auto">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-usd-circle secondary"></i>SPOT PRICE</div>
                            <div><span class="num-0 mono-lg primary">$0.25</span>&nbsp;&nbsp;<span class="num-0 mono-lg" style="opacity: 0.65; color: mediumseagreen;">+5.06%</span></div>
                        </div>
                        <div class="p-3 text-right">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-coins secondary"></i>MARKET CAP</div>
                            <div class="num-0 mono-lg primary">$132,134,325</div>
                        </div>
                    </div>
                    <div class="col pt-1 d-inline-flex border-right border-bottom align-items-center">
                        <div class="p-3 mr-auto">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-users-class secondary"></i>VOTERS</div>
                            <div class="num-0 mono-lg primary">32,250</div>
                        </div>
                        <div class="p-3 text-right">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-person-sign secondary"></i>ICX STAKED</div>
                            <div class="num-0 mono-lg primary">132,250,456</div>
                        </div>
                    </div>
                    <div class="col p-3 text-center border-right border-bottom">
                        <div>
                            <span class="txt-1 ascent font-weight-bold">WHO CAN I VOTE?</span>
                        </div>
                        <div class="primary">vote for any P-Rep with good <span class="mono num-0 special font-weight-bold">score</span></div>
                    </div>
                    <div class="col p-3 text-center border-bottom">
                        <div>
                            <span class="txt-1 ascent font-weight-bold">WHY SHOULD I CARE?</span>
                        </div>
                        <div class="primary">because your <span class="font-weight-semibold">votes</span> affect future <span class="mono num-0 special font-weight-bold">price</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <i class="fal pr-2 fa-user-clock"></i>P-REP WATCHER
                    </div>
                    <div class="col pr-4 text-right text-nowrap">
                        <a href="/voting-guidelines">VOTING GUIDELINES</a>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2" style="min-height: 680px;">
                @code {
                    public PrepResponse PrepModelType = new PrepResponse();
                }
                <EjsGrid TValue="PrepResponse" ModelType="PrepModelType" AllowSorting="true" AllowSelection="false" GridLines="GridLine.Horizontal">
                    <EjsDataManager Url="/api/v1.0/preps?take=65" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
                    <GridColumns>
                        <GridColumn Width="28" HeaderText="⇵" TextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        if (prep.Direction)
                                        {
                                            <i class="fas fa-caret-up" style="color: limegreen;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-caret-down" style="color: red;"></i>
                                        }
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="44" Field="@nameof(PrepResponse.Position)" TextAlign="TextAlign.Center" HeaderText="#">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="mono">@prep.Position</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="34" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <img width="20" height="20" class="prep-@prep.Id rounded-circle" alt="@prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="180" Field="@nameof(PrepResponse.Name)" HeaderText="Name">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="font-weight-semibold">@prep.Name</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="85" Field="@nameof(PrepResponse.ProducedBlocks)" HeaderText="Produced" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="mono">@prep.ProducedBlocks.ToString("N0")</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="80" Field="@nameof(PrepResponse.RejectedBlocks)" HeaderText="Rejected" TextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="mono">@prep.RejectedBlocks.ToString("N0")</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="75" HeaderText="% Up" TextAlign="TextAlign.Center" Field="@nameof(PrepResponse.UptimePercentage)">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        if (prep.UptimePercentage > 0.5)
                                        {
                                            <span class="mono" style="color: mediumseagreen;">@prep.UptimePercentage.ToString("P0")</span>
                                        }
                                        if (prep.UptimePercentage <= 0.5)
                                        {
                                            <span class="mono" style="color: darkred;">@prep.UptimePercentage.ToString("P0")</span>
                                        }
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="75" Field="@nameof(PrepResponse.Voters)" HeaderText="Voters" TextAlign="TextAlign.Center" Format="N0">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="mono">@prep.Voters.ToString("N0")</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="110" Field="@nameof(PrepResponse.Votes)" HeaderText="ICX Staked" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="mono">@prep.Votes.ToString("N0")</span><span class="pl-1 secondary">ICX</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="90" Field="@nameof(PrepResponse.SupplyPercentage)" HeaderText="% Supply" TextAlign="TextAlign.Right" AllowSorting="true">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span class="mono">@prep.SupplyPercentage.ToString("P2")</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="90" Field="@nameof(PrepResponse.LastSeen)" HeaderText="Last Seen" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span>@prep.LastSeen</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="120" Field="@nameof(PrepResponse.Location)" HeaderText="Location" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        <span>@prep.Location</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="90" Field="@nameof(PrepResponse.Score)" HeaderText="Score&nbsp;&nbsp;&nbsp;" TextAlign="TextAlign.Right" DisableHtmlEncode="true">
                            <Template>
                                @{
                                    if (context is PrepResponse prep)
                                    {
                                        if (prep.Score > 0)
                                        {
                                            <div class="d-inline-block rounded-pill text-center" style="background-color: #1aaaba; width: 48px; padding-top: 3px; padding-bottom: 3px;">
                                                <span class="mono font-weight-semibold" style="color: white; letter-spacing: 0.5px;">@prep.Score.ToString("N0")</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-inline-block rounded-pill text-center" style="background-color: #e7eaee; width: 48px; padding-top: 3px; padding-bottom: 3px;">
                                                <span class="txt-1 secondary condensed font-weight-semibold" style="letter-spacing: 1px;">NA</span>
                                            </div>
                                        }
                                    }
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
        </div>
    </div>
</div>