@page "/prep-watcher"
@layout MainLayout
@inject PRepService Service
<style>
    .e-grid .e-rowcell:last-child {
        padding-left: 10px !important;
        padding-right: 20px !important;
    }
    .e-grid .e-rowcell, .e-grid .e-headercell {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .e-grid .e-rowcell:first-child, .e-grid .e-headercell:first-child {
        padding-left: 20px !important;
        padding-right: 10px !important;
    }
</style>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="p-3 mr-auto">
                            <InfoBox Icon="fa-coins" Title="MARKET CAP" Value="$132,134,325"></InfoBox>
                        </div>
                        <div class="p-3 text-right">
                            <InfoBox Icon="fa-usd-circle" Title="SPOT PRICE" Value="$0.2538"></InfoBox>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="p-3 mr-auto">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-users-class secondary"></i>VOTERS</div>
                            <div class="num-1 mono primary">32,250,300</div>
                        </div>
                        <div class="p-3 text-right">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-person-sign secondary"></i>ICX STAKED</div>
                            <div class="num-1 mono primary">132,250,456</div>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="p-3 mr-auto">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-cube secondary"></i>BLOCK HEIGHT</div>
                            <div class="mono primary num-1-condensed">8,749,250</div>
                        </div>
                        <div class="p-3 text-right">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-exchange-alt secondary"></i>TRANSACTIONS</div>
                            <div class="mono primary num-1-condensed">38,749,250</div>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-bottom">
                        <div class="p-3 mr-auto">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-box-open secondary"></i>ALL SUPPLY</div>
                            <div class="primary mono num-1-condensed">800,000,000</div>
                        </div>
                        <div class="p-3 text-right">
                            <div class="txt-0 secondary"><i class="fal pr-2 fa-parachute-box secondary"></i>CIRCULATING</div>
                            <div class="mono primary num-1-condensed">490,000,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="card shadow-sm" style="min-height: 500px;">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <i class="fal pr-2 fa-user-clock"></i>P-REP WATCHER
                    </div>
                    <div class="col text-right">
                        <a href="/preps-watcher">MATRIX</a>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <EjsGrid ModelType="@PRep" DataSource="@PReps" EnableHover="false" AllowSelection="false" GridLines="GridLine.Horizontal">
                    <GridColumns>
                        <GridColumn Width="40" TextAlign="TextAlign.Center" HeaderText="⇵">
                            <Template>
                                @{
                                    if (context is PRep prep)
                                    {
                                        if (prep.Direction)
                                        {
                                            <i class="fas fa-caret-up" style="color: limegreen;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-caret-down" style="color: red;"></i>
                                        }
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="44" TextAlign="TextAlign.Center" HeaderText="#" Field="@nameof(PRep.Position)"></GridColumn>
                        <GridColumn Width="44" TextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PRep prep)
                                    {
                                        <img width="20" height="20" class="rounded-circle" alt="@prep.Name" src="@prep.LogoUrl" />
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn HeaderText="Name">
                            <Template>
                                @{
                                    if (context is PRep prep)
                                    {
                                        <strong>@prep.Name</strong>
                                    }

                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="100" HeaderText="ICX Staked" Field="@nameof(PRep.Votes)" Format="N0" TextAlign="TextAlign.Right"></GridColumn>
                        <GridColumn Width="100" HeaderText="% Supply" Field="@nameof(PRep.SupplyPercentage)" Format="P2" TextAlign="TextAlign.Right"></GridColumn>
                        <GridColumn Width="100" HeaderText="Voters" Field="@nameof(PRep.Voters)" Format="N0" TextAlign="TextAlign.Right"></GridColumn>
                        <GridColumn Width="150" HeaderText="Location" Field="@nameof(PRep.Location)" TextAlign="TextAlign.Right"></GridColumn>
                        <GridColumn Width="100" HeaderText="% Uptime" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PRep prep)
                                    {
                                        if (prep.UptimePercentage > 0.5)
                                        {
                                            <span style="color: mediumseagreen;">@prep.UptimePercentage.ToString("P2")</span>
                                        }
                                        if (prep.UptimePercentage <= 0.5)
                                        {
                                            <span style="color: darkred;">@prep.UptimePercentage.ToString("P2")</span>
                                        }
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="100" HeaderText="Last Seen" TextAlign="TextAlign.Right">
                            <Template>
                                @{
                                    if (context is PRep prep)
                                    {
                                        <span class="secondary">@prep.LastSeen</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="100" HeaderText=" C_Score" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PRep prep)
                                    {
                                        <div class="special d-inline-block rounded-pill text-center" style="width: 48px; padding-top: 3px; padding-bottom: 4px; background-color:#e3165b;"><strong style="color:white;">@prep.CScore.ToString("N0")</strong></div>
                                    }

                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
        </div>
    </div>
</div>

@code{
    public PRep PRep = new PRep();
    public List<PRep> PReps { get; set; }

    protected override async Task OnInitAsync()
    {
        PReps = await Service.GetLatestPRepsAsync();
    }

}