<style>
    .transaction-hash {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #f5f5f5;
    }

    .transaction-address {
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #e1fafd;
    }
</style>
@code {
    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool CanPage { get; set; }

    [Parameter]
    public string EditKey { get; set; }

    [Parameter]
    public object PageSizes { get; set; }

    public bool CanEdit => !string.IsNullOrWhiteSpace(EditKey);
}
<EjsGrid EnableHover="false"
         EnableAltRow="true"
         TValue="PRepResponse"
         AllowPaging="@CanPage"
         AllowSelection="@CanEdit"
         ModelType="@PRepModelType"
         GridLines="@GridLine.Horizontal"
         Query="@($"new ej.data.Query().addParams('edit', '{EditKey}')")">
    <GridPageSettings PageSize="@PageSize" PageSizes="@PageSizes"></GridPageSettings>
    <GridEditSettings AllowEditing="@CanEdit" Mode="@EditMode.Dialog"></GridEditSettings>
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="@Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="220" Field="@nameof(PRepResponse.Name)" HeaderText="P-Rep Name" IsPrimaryKey="true">
            <HeaderTemplate>
                <span class="tx-condensed"><i class='far pl-1 pr-2 fal fa-users'></i>&nbsp;P-Rep Name</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <div class="d-flex align-items-center">
                            <img width="20" height="20" style="margin-right: 10px;" class="prep-@prep.IdExternal rounded-circle" alt="@prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibolder" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="105" Field="@nameof(PRepResponse.Address)" HeaderText="Wallet" TextAlign="@TextAlign.Center">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <a class="primary no-underline" href="address/@prep.Address">
                            <span class="fs-n1 mono transaction-address">
                                <span class="font-weight-semibold">@prep.Address.Substring(0, 2)</span>@prep.Address.Substring(2, 10)
                            </span>
                        </a>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="115" Field="@nameof(PRepResponse.Balance)" TextAlign="@TextAlign.Right">
            <HeaderTemplate>
                <span>Balance</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono ls-n2">@prep.Balance.ToString("N0")</span>
                        <span class="pl-1 tx-light font-weight-light">ICX</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="115" Field="@nameof(PRepResponse.Balance)" TextAlign="@TextAlign.Right">
            <HeaderTemplate>
                <span>Sold YTD</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono ls-n2">@prep.Balance.ToString("N0")</span>
                        <span class="pl-1 tx-light font-weight-light">ICX</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="115" Field="@nameof(PRepResponse.Balance)" TextAlign="@TextAlign.Right">
            <HeaderTemplate>
                <span>Received YTD</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono ls-n2">@prep.Balance.ToString("N0")</span>
                        <span class="pl-1 tx-light font-weight-light">ICX</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="135" Field="@nameof(PRepResponse.Address)" HeaderText="Last TX Out" TextAlign="@TextAlign.Center">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <a class="secondary no-underline" href="transaction/@prep.Address">
                            <span class="fs-n1 mono transaction-hash">
                                <span class="font-weight-semibold">@prep.Address.Substring(0, 2)</span>@prep.Address.Substring(0, 10)
                            </span>
                        </a>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn HeaderText="Description" TextAlign="@TextAlign.Right">
            <Template>
                <span class="tx-light">Lorem ipsum</span>
            </Template>
            <EditTemplate/>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    public PRepResponse PRepModelType = new PRepResponse();
}
