<EjsGrid EnableHover="true"
         EnableAltRow="true"
         TValue="PRepResponse"
         AllowPaging="CanPage"
         AllowSelection="CanEdit"
         GridLines="GridLine.Horizontal"
         Query="@(new Query().AddParams("edit", EditKey))">
    <GridPageSettings PageSize="PageSize" PageSizes="PageSizes"></GridPageSettings>
    <GridEditSettings AllowEditing="CanEdit" Mode="EditMode.Dialog"></GridEditSettings>
    <GridSearchSettings Operator="Operator.Contains" IgnoreCase="true"></GridSearchSettings>
    <EjsDataManager Url="/api/v1/preps?take=22" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="213" Field="@nameof(PRepResponse.Name)" HeaderText="P-Rep">
            <HeaderTemplate>
                <span class="text-condensed"><i class="far pl-1 pr-2 fal fa-users"></i>&nbsp;P-Rep</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <div class="d-flex align-items-center" style="margin-top: 1px;">
                            <img width="18" height="18" style="margin-top: -1px; margin-right: 8px;" src="@StringHelpers.ParseLogoUrl(prep.LogoUrl)">
                            <a class="secondary" href="address/@prep.Id">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="110" Field="@nameof(PRepResponse.ProductivityPercentage)" HeaderText="Uptime" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="mono positive-light font-weight-light">100%</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="110" Field="@nameof(PRepResponse.Location)">
            <HeaderTemplate>
                <span>Hosting</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span>@prep.Hosting</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="110" Field="@nameof(PRepResponse.Location)">
            <HeaderTemplate>
                <span>Regions<i class="far pl-2 fa-map-marker-alt"></i></span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span class="text-condensed">@prep.Regions</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(PRepResponse.Location)" HeaderText="Testnet Participation">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span>@(prep.Testnet ? "Phase 1, 2, 3" : "-")</span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>

@code {
    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool CanPage { get; set; }

    [Parameter]
    public string EditKey { get; set; }

    [Parameter]
    public object PageSizes { get; set; }

    public bool CanEdit => !string.IsNullOrWhiteSpace(EditKey);
} 