@page "/preps"
@page "/preps/{size:int}"
@page "/preps/edit/{key}"
@code {
    [Parameter]
    public string Key { get; set; }

    [Parameter]
    public int Size { get; set; } = 22;

    public object Sizes { get; } = new[] { 22, 50, 100 };
}
<style type="text/css">
    .e-grid { min-height: 700px; }

    .e-grid .e-rowcell:last-child,
    .e-grid .e-headercell:last-child {
        padding-left: 5px !important;
        padding-right: 20px !important;
    }

    .e-grid .e-row .e-selectionbackground { background-color: #ffe100; }

    .e-grid .e-rowcell, .e-grid .e-headercell {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .e-grid .e-rowcell:first-child, .e-grid .e-headercell:first-child {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }

    .e-grid .e-row {
        height: 42px;
        cursor: @(Key == null ? "initial;" : "pointer;");
        background-color: @(Key == null ? "initial;" : "rgb(255, 255, 227);");
    }
</style>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 tx-light">PRICE&nbsp;&nbsp;&nbsp;&nbsp;% 24H</div>
                            <div><span class="fs-2 tx-dark mono-lg">$0.25</span>&nbsp;&nbsp;<span class="mono-lg positive-dark" style="opacity: 0.75;">+5.06%</span></div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 tx-light">MARKET CAP</div>
                            <div class="fs-2 tx-dark mono-lg">115,531,667</div>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 tx-light">ICX STAKED&nbsp;&nbsp;&nbsp;&nbsp;% SPLY</div>
                            <div><span class="fs-2 tx-dark mono-lg">132,250,456</span>&nbsp;&nbsp;<span class="mono-lg tx-light">36.52%</span></div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 tx-light">% 24H</div>
                            <span class="fs-2 mono-lg negative-dark" style="opacity: 0.75;">+2.78%</span>
                        </div>
                    </div>
                    <div class="col px-1 p-3 text-center border-right border-bottom">
                        <div>
                            <a class="primary font-weight-bold" href="/">WHO SHOULD I VOTE?</a>
                        </div>
                        <div class="pt-1 tx-dark">for P-Reps who have contribution <span class="mono font-weight-bold">score</span></div>
                    </div>
                    <div class="col px-1 p-3 text-center border-bottom">
                        <div>
                            <a class="primary font-weight-bold" href="/">WHY SHOULD I CARE?</a>
                        </div>
                        <div class="pt-1 tx-dark">because your votes affect future <span class="mono font-weight-bold">price</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        @code {

            public void Cancel(SelectingEventArgs args)
            {
                if (args.IsSwiped)
                {
                    args.Cancel = true;
                }
            }

            public TabHeader Summary = new TabHeader { Text = "SUMMARY" };

            public TabHeader Background = new TabHeader { Text = "BACKGROUND" };

            public TabHeader Contribution = new TabHeader { Text = "CONTRIBUTION" };

            public TabHeader ScoreMatrix = new TabHeader { Text = "SCORE MATRIX" };
        }
        <style>
            #ejstab { min-height: 740px; }
        </style>
        <EjsTab ID="ejstab" CssClass="card shadow-sm">
            <TabEvents Selecting="Cancel"></TabEvents>
            <TabItems>
                <TabItem Header="@Summary">
                    <ContentTemplate>
                        <div class="card-body px-0 pt-0 pb-1" style="min-height: 700px;">
                            <PrepListSummaryGrid EditKey="@Key" PageSize="@Size" PageSizes="@Sizes"></PrepListSummaryGrid>
                        </div>
                    </ContentTemplate>
                </TabItem>
                <TabItem Header="@Background">
                    <ContentTemplate>
                        <div class="card-body px-0 pt-0 pb-1" style="min-height: 700px;">
                            <PrepListBackgroundGrid EditKey="@Key" PageSize="@Size" PageSizes="@Sizes"></PrepListBackgroundGrid>
                        </div>
                    </ContentTemplate>
                </TabItem>
                <TabItem Header="@Contribution">
                    <ContentTemplate>
                        <div class="card-body px-0 pt-0 pb-1" style="min-height: 700px;">
                            <PrepListContributionGrid EditKey="@Key" PageSize="@Size" PageSizes="@Sizes"></PrepListContributionGrid>
                        </div>
                    </ContentTemplate>
                </TabItem>
                <TabItem Header="@ScoreMatrix">
                    <ContentTemplate>
                        <div class="card-body px-0 pt-0 pb-1" style="min-height: 700px;">
                            <PrepListScoreMatrixGrid EditKey="@Key" PageSize="@Size" PageSizes="@Sizes"></PrepListScoreMatrixGrid>
                        </div>
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </EjsTab>
    </div>
</div>