@code {
    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public string EditKey { get; set; }

    [Parameter]
    public object PageSizes { get; set; }

    public bool CanEdit => !string.IsNullOrWhiteSpace(EditKey);
}
<style>
    .fal.fa-star {
        opacity: 0.75;
        color: #ffdc85;
    }

    .fa-star:not(:last-child),
    .fa-star-half-alt:not(:last-child) { margin-right: 4px; }

    .fas.fa-star, .fas.fa-star-half-alt { color: #eebf4a; }
</style>
<EjsGrid AllowPaging="true"
         EnableHover="false"
         EnableAltRow="true"
         TValue="PrepResponse"
         AllowSelection="@CanEdit"
         ModelType="PrepModelType"
         GridLines="GridLine.Horizontal"
         Query="@($"new ej.data.Query().addParams('edit', '{EditKey}')")">
    <GridPageSettings PageSize="@PageSize" PageSizes="@PageSizes"></GridPageSettings>
    <GridEditSettings AllowEditing="@CanEdit" Mode="EditMode.Dialog"></GridEditSettings>
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
    <GridColumns>
        <GridColumn Width="30" HeaderText="⇵" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        if (prep.Direction)
                        {
                            <i class="fas fa-caret-up positive-light" style="opacity: 0.75"></i>
                        }
                        else
                        {
                            <i class="fas fa-caret-down negative-light" style="opacity: 0.75"></i>
                        }
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="38" Field="@nameof(PrepResponse.Position)" TextAlign="TextAlign.Left" HeaderText="&nbsp;#" DisableHtmlEncode="false">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono">@prep.Position</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="210" Field="@nameof(PrepResponse.Name)" HeaderText="P-Rep Name" IsPrimaryKey="true">
            <HeaderTemplate>
                <span><i class='far pl-1 pr-2 fal fa-users'></i>&nbsp;P-Rep Name</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <div class="mt-1 d-flex align-items-center">
                            <img width="20" height="20" style="margin-right: 10px; margin-bottom: 1px;" class="prep-@prep.IdExternal rounded-circle" alt="@prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibolder" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="55" Field="@nameof(PrepResponse.LastSeen)" HeaderText="Online" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <div style="padding-bottom: 1px;">
                            <i class="fal fs-n1 fa-wifi positive-light"></i>
                        </div>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="90" Field="@nameof(PrepResponse.ProducedBlocks)" TextAlign="TextAlign.Center">
            <HeaderTemplate>
                <i class="far pr-2 fa-cube positive-dark"></i>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono ls-n2">@prep.ProducedBlocks.ToString("N0")</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="70" Field="@nameof(PrepResponse.RejectedBlocks)" TextAlign="TextAlign.Center">
            <HeaderTemplate>
                <i class="far pr-2 fa-cube negative-dark"></i>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono">@prep.RejectedBlocks.ToString("N0")</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="55" Field="@nameof(PrepResponse.UptimePercentage)" HeaderText="Uptime" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono positive-light font-weight-light">100%</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="120" Field="@nameof(PrepResponse.Votes)" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Center">
            <HeaderTemplate>
                <div class="pl-2">Tally</div>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono ls-n2">@prep.Votes.ToString("N0")</span>
                        <span class="pl-1 fs-n2 tx-light font-weight-light">votes</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="65" Field="@nameof(PrepResponse.SupplyPercentage)" HeaderText="% Sply" TextAlign="TextAlign.Right">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono tx-light font-weight-light">(@prep.SupplyPercentage.ToString("P2"))</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="75" HeaderText="% 24h" TextAlign="TextAlign.Right" Field="@nameof(PrepResponse.UptimePercentage)">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        if (prep.UptimePercentage > 0)
                        {
                            <span class="mono positive-dark">@prep.UptimePercentage.ToString("P")</span>
                        }
                        if (prep.UptimePercentage < 0)
                        {
                            <span class="mono negative-dark">@prep.UptimePercentage.ToString("P")</span>
                        }
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="65" Field="@nameof(PrepResponse.Voters)" HeaderText="Voters" TextAlign="TextAlign.Right" Format="N0">
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        <span class="mono">@prep.Voters.ToString("N0")</span>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="160" HeaderText="Contribution" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="75" Field="@nameof(PrepResponse.Score)" HeaderText="Score" TextAlign="TextAlign.Right">
            <HeaderTemplate>
                <div class="pr-2">Score&nbsp;</div>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PrepResponse prep)
                    {
                        if (prep.Score > 0)
                        {
                            <div class="bg-secondary d-inline-block rounded-pill text-center" style="width: 48px; padding-top: 3px; padding-bottom: 3px;">
                                <span class="fs-n1 mono font-weight-bold" style="letter-spacing: 0.5px;">@prep.Score.ToString("N0")</span>
                            </div>
                        }
                        else
                        {
                            <div class="d-inline-block rounded-pill text-center" style="width: 48px; padding-top: 3px; padding-bottom: 3px;">
                                <span class="fs-n1 ls-2 tx-light">--</span>
                            </div>
                        }
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    public PrepResponse PrepModelType = new PrepResponse();
}
