@page "/prep-watcher"
@layout MainLayout
@inject PRepService Service
<div class="row mb-3">
    <div class="col">
        <div class="card with-shadow" style="min-height: 50px;">
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="card with-shadow" style="min-height: 500px;">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <i class="fal pr-2 fa-user-clock"></i>P-REP WATCHER
                    </div>
                    <div class="col text-right">
                        <a href="/preps-directory">MORE</a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 pb-2">
                <EjsGrid ModelType="@PRep" DataSource="@PReps" EnableHover="false" AllowSorting="true" GridLines="GridLine.Horizontal">
                    <GridColumns>
                        <GridColumn Width="44" HeaderTextAlign="TextAlign.Left" HeaderText="Rank" Field="@nameof(PRep.Rank)"></GridColumn>
                        <GridColumn Width="44" TextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PRep prep)
                                    {
                                        <img width="20" height="20" class="avatar" alt="@prep.Name" src="@prep.LogoUrl" />
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="170" HeaderText="Name" Field="@nameof(PRep.Name)"></GridColumn>
                        <GridColumn Width="150" HeaderText="Location" Field="@nameof(PRep.Location)"></GridColumn>
                        <GridColumn HeaderText="Address" Field="@nameof(PRep.Address)"></GridColumn>
                        <GridColumn Width="64" HeaderText="ID" Field="@nameof(PRep.Id)" TextAlign="TextAlign.Center"></GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
        </div>
    </div>
</div>

@code{
    public PRep PRep = new PRep();
    public List<PRep> PReps { get; set; }

    protected override async Task OnInitAsync()
    {
        PReps = await Service.GetLatestPRepsAsync(44);
    }

}