@code {
    [Parameter]
    public ChainResponse ChainResponse { get; set; }
}

<div class="px-1 py-3 flex-fill">
    <div class="py-1 fs-n3 text-light">STAKED&nbsp;&nbsp;•&nbsp;&nbsp;% CIRCULATION</div>
    <div>
       <span class="fs-2 ls-n1 mono-lg ChainResponse_TotalStaked" number="@(ChainResponse?.TotalStaked ?? 0)">@(ChainResponse?.TotalStaked.ToString("N0") ?? "0")</span>
        <span class="mono-lg text-light">•</span>
        <span class="mono-lg primary ChainResponse_StakedPercentage">@(ChainResponse?.StakedPercentage.ToString("P2") ?? "0")</span>
    </div>
</div>
<div class="px-1 py-3 flex-fill text-right">
    <div class="py-1 fs-n3 text-light">
        <i class="fal pr-1 fa-question-circle" data-toggle="tooltip" title="Total ICX awaiting unstaked. Click for more details."></i>UNSTAKING
    </div>
    <a class="secondary underline" style="text-decoration-color: #1aaaba !important;" href="/address/list/unstaking">
        <div class="fs-2 ls-n1 mono-lg ChainResponse_TotalUnstaking" number="@(ChainResponse?.TotalUnstaking ?? 0)">
            @(ChainResponse?.TotalUnstaking.ToString("N0") ?? "0")
        </div>
    </a>
</div>