@code {
    [Parameter]
    public ChainResponse ChainResponse { get; set; }
}
<div class="px-1 py-3 flex-fill">
    <div class="py-1 fs-n3 text-light">ICX VOTED&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;% STAKED</div>
    <div>
        <span class="fs-2 mono-lg ChainResponse_TotalDelegated" number="@(ChainResponse?.TotalDelegated ?? 0)">
            @(ChainResponse?.TotalDelegated.ToString("N0") ?? "0")
        </span>
        <span class="mono-lg text-light">•</span>
        <span class="mono-lg text-light ChainResponse_DelegatedPercentage">
            @(ChainResponse?.DelegatedPercentage.ToString("P2") ?? "0.00%")
        </span>
    </div>
</div>
<div class="px-1 py-3 flex-fill text-right">
    <div class="py-1 fs-n3 text-light"><i class="fal pr-2 fa-user"></i>VOTERS</div>
    <div class="fs-2 mono-lg ChainResponse_StakingAddressCount" number="@(ChainResponse?.StakingAddressCount ?? 0)">
        @(ChainResponse?.StakingAddressCount.ToString("N0") ?? "0.00%")
    </div>
</div>
